.blog-info-13
  .blog-info-13__title Самый большой ТГ-канал по математике
  picture.blog-info-13__picture
    source(srcset=staticImg('blog-info-13/decor-1_xxs.png') media="(max-width: 359px)")
    source(srcset=staticImg('blog-info-13/decor-1_mob.png') media="(max-width: 743px)")
    source(srcset=staticImg('blog-info-13/decor-1_tablet.png') media="(max-width: 1359px)")
    img.blog-info-13__image(src=staticImg('blog-info-13/decor-1.png') alt='')
  .blog-info-13__wrap
    .blog-info-13__note!= 'Более 662 000 читателей! Разборы задач из ВПР, ОГЭ и ЕГЭ Применение математики в жизни'
    .blog-info-13__area
      a.blog-info-13__button.btn-orange.btn-orange_arrow(href="#" target="_blank") Перейти в Телеграм–канал
      .blog-info-13__span Подпишитесь и покажите ребёнку
