form#modal-order.modal-order(data-element='order-form' data-docex="/_thanks" data-request-validate)
  .modal-order__title!= 'Подберём занятия для ребёнка. <br/>Оставьте заявку'
  input.input_utm(name='utm' type='hidden' value='')
  input.modal-order__input.input-gray(name='phone' placeholder='Номер телефона' type='tel' required data-element='input-phone-intl')
  input(name='tel' type='hidden' required data-element='input-phone-hidden')
  input.modal-order__input.input-gray(name='name' placeholder='Имя родителя' type='text')
  input.modal-order__input.input-gray(name='email' placeholder='Ваш e-mail' type='email' required)
  select.modal-order__select(data-role="custom-select" name="class_name")
    each item in [0,1,2,3,4,5,6,7,8,9,10,11]
      if item === 0
        option(value='' selected)!= `Выберите класс`
      else
        option(value=item)!= `${item} класс`
  label.modal-order__checkbox
    input.modal-order__checkbox-input(name='policy' type='checkbox')
    .modal-order__checkbox-view
    .modal-order__checkbox-text
      | Даю
      |
      a(href='https://tochka-school.ru/storage/app/media/Dokumenti/Soglasie_na_obrabotku_personalnih_dannih_OOO.pdf'
        target='_blank') Согласие
      |
      | на обработку персональных данных в соответствие с
      |
      a(href='https://tochka-school.ru/storage/app/media/Dokumenti/Politika_obrabotki_personalnih_dannih_OOO.pdf'
        target='_blank') Политикой.
  label.modal-order__checkbox
    input.modal-order__checkbox-input(name='news' type='checkbox')
    .modal-order__checkbox-view
    .modal-order__checkbox-text
      | Согласен на
      |
      a(href='https://tochka-school.ru/storage/app/media/Dokumenti/Soglasie_na_reklamnuyu_rassilku_OOO.pdf'
        target='_blank') получение рекламы
  button.modal-order__button.btn-warning Оставить заявку
  ul.modal-order__list
    each item in ['Познакомим с форматом обучения','Покажем, как проходят занятия','Поможем подобрать обучение']
      li.modal-order__item= item
