form#modal-order-new.modal-order-new(data-element='order-form' data-docex="/_thanks" data-request-validate)
  .modal-order-new__title Подобрать занятия
  input.input_utm(name='utm' type='hidden' value='')
  .modal-order-new__select
    .modal-order-new__select-top
      .modal-order-new__select-placeholder Класс
    .modal-order-new__select-wrap
      .modal-order-new__select-close
        svg(viewbox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg')
          rect(width='29' height='29' rx='14.5' fill='#6784C3' fill-opacity='0.21')
          path(d='M19.9002 20.4669C20.0127 20.4669 20.1226 20.4336 20.2161 20.3711C20.3096 20.3087 20.3824 20.2199 20.4255 20.116C20.4685 20.0122 20.4798 19.8979 20.4578 19.7876C20.4359 19.6773 20.3817 19.576 20.3022 19.4965L9.79824 8.99255C9.69163 8.88594 9.54704 8.82605 9.39627 8.82605C9.2455 8.82605 9.10091 8.88594 8.9943 8.99255C8.88769 9.09916 8.8278 9.24375 8.8278 9.39452C8.8278 9.54529 8.88769 9.68988 8.9943 9.79649L19.4983 20.3005C19.551 20.3533 19.6137 20.3952 19.6827 20.4238C19.7516 20.4523 19.8256 20.467 19.9002 20.4669Z' fill='#6784C3')
          path(d='M9.3963 20.4669C9.47096 20.467 9.54491 20.4523 9.61389 20.4238C9.68287 20.3952 9.74553 20.3533 9.79827 20.3005L20.3022 9.79649C20.4089 9.68988 20.4688 9.54529 20.4688 9.39452C20.4688 9.24375 20.4089 9.09916 20.3022 8.99255C20.1956 8.88594 20.051 8.82605 19.9003 8.82605C19.7495 8.82605 19.6049 8.88594 19.4983 8.99255L8.99433 19.4965C8.91482 19.576 8.86067 19.6773 8.83873 19.7876C8.81678 19.8979 8.82804 20.0122 8.87107 20.116C8.9141 20.2199 8.98697 20.3087 9.08046 20.3711C9.17395 20.4336 9.28387 20.4669 9.3963 20.4669Z' fill='#6784C3')
      .modal-order-new__select-title Выберите класс
      .modal-order-new__select-list
        each item in ['Дошкольник','1 класс','2 класс','3 класс','4 класс','5 класс','6 класс','7 класс','8 класс','9 класс','10 класс','11 класс']
          label.modal-order-new__select-item
            input.modal-order-new__select-input(type="radio" name="modal-order-new-class" value=item)
            .modal-order-new__select-view= item
  input.modal-order-new__input(name='phone' placeholder='Номер телефона' type='tel' required data-element='input-phone-intl')
  input(name='tel' type='hidden' required data-element='input-phone-hidden')
  input.modal-order-new__input(name='name' placeholder='Имя родителя' type='text')
  button.modal-order-new__button.btn-warning Записаться
  label.modal-order-new__checkbox
    input.modal-order-new__checkbox-input(name='policy' type='checkbox')
    .modal-order-new__checkbox-view
    .modal-order-new__checkbox-text
      | Даю
      |
      a(href='https://tochka-school.ru/storage/app/media/Dokumenti/Soglasie_na_obrabotku_personalnih_dannih_OOO.pdf'
        target='_blank') Согласие
      |
      | на обработку персональных данных в соответствии с
      |
      a(href='https://tochka-school.ru/storage/app/media/Dokumenti/Politika_obrabotki_personalnih_dannih_OOO.pdf'
        target='_blank') Политикой.
  label.modal-order-new__checkbox
    input.modal-order-new__checkbox-input(name='news' type='checkbox')
    .modal-order-new__checkbox-view
    .modal-order-new__checkbox-text
      | Согласен на
      |
      a(href='https://tochka-school.ru/storage/app/media/Dokumenti/Soglasie_na_reklamnuyu_rassilku_OOO.pdf'
        target='_blank') получение рекламы
