section.platform-cap
  .platform-cap__cont.cont
    .platform-cap__wrap
      h1.platform-cap__caption О платформе
      .platform-cap__note «Образовательная онлайн-платформа Точка Знаний»
      .platform-cap__list
        .platform-cap__item
          picture.platform-cap__picture(data-fancybox data-src=staticImg('platform-cap/platform-cap-1.png'))
            img.platform-cap__image(src=staticImg('platform-cap/platform-cap-1.png') alt='')
          h2.platform-cap__title Собственное программное обеспечение
          p.platform-cap__text.
            Мы разработали собственное программное обеспечение – платформу для занятий, чтобы предоставить лучшее качество обучения
            как с технической, так и с образовательной стороны.
        .platform-cap__item
          picture.platform-cap__picture(data-fancybox data-src=staticImg('platform-cap/platform-cap-2.png'))
            img.platform-cap__image(src=staticImg('platform-cap/platform-cap-2.png') alt='')
          h2.platform-cap__title Удобный цифровой интерфейс
          p.platform-cap__text.
            На платформе реализован удобный цифровой интерфейс, который позволяет автоматизировать распределение
            образовательных материалов и контролировать успеваемость учеников, благодаря реализованным алгоритмам
            анализа данных и механизмам машинного обучения.
      .platform-cap__item-wide
        picture.platform-cap__picture(data-fancybox data-src=staticImg('platform-cap/platform-cap-3.png'))
          img.platform-cap__image(src=staticImg('platform-cap/platform-cap-3.png') alt='')
        .platform-cap__item-inner
          h2.platform-cap__title Современная архитектура
          p.platform-cap__text.
            Современная архитектура платформы позволяет внедрять
            продвинутые технологии семантического анализа и онтологии,
            что делает процесс образования более интуитивным и эффективным
            за счет лучшего понимания и обработки запросов студентов.
      .platform-cap__gallery
        picture.platform-cap__gallery-picture(data-fancybox data-src=staticImg('platform-cap/platform-cap-4.png'))
          img.platform-cap__gallery-image(src=staticImg('platform-cap/platform-cap-4.png') alt='')
        picture.platform-cap__gallery-picture(data-fancybox data-src=staticImg('platform-cap/platform-cap-5.png'))
          img.platform-cap__gallery-image(src=staticImg('platform-cap/platform-cap-5.png') alt='')
        picture.platform-cap__gallery-picture(data-fancybox data-src=staticImg('platform-cap/platform-cap-6.png'))
          img.platform-cap__gallery-image(src=staticImg('platform-cap/platform-cap-6.png') alt='')
      .platform-cap__area
        .platform-cap__box
          h2.platform-cap__title Обучающая платформа
          p.platform-cap__text.
            Онлайн-уроки, их записи, конспекты занятий, обучающие материалы
            и общение с тьютором будет проходить именно на обучающей платформе.
            Каждый ученик и его родитель получит доступ (аккаунт) к платформе.
        .platform-cap__box
          h2.platform-cap__title Образовательная система
          p.platform-cap__text.
            Основные усилия Школы направлены на технологическую разработку замкнутой, самодостаточной образовательной
            системы, позволяющей учащимся эффективно получать новые знания.

