-
  const articleList = [
    'Поступление в вуз: вопросы для собеседования',
    'Нарушения речи у детей',
    'Вопросы для подростков: что полезно и интересно обсудить до 15 лет',
    'Ситуэйшеншип, лавбомбинг, орбитинг, NPC: насколько вы понимаете сленг подростков',
  ]

.article
  .article__cont.cont
    .article__top
      h1.article__caption.caption Вопросы для подростков: что полезно и интересно обсудить до 15 лет
      .article__line
        each item, index in ['17.12.2024<span> | обновлено 20.12.2024</span>','7 682','3 мин.']
          .article__stats
            img.article__icon(src=staticImg(`icons/ic_blog_${index+1}.svg`) alt='')
            .article__note!= item
    .article__cage
      .article__main
        img.article__image(src=staticImg('blog.png') alt='')
        .article__source
          | Источник изображения:
          |
          a(href='#') Shutterstock
        .article__line.article__line_mob
          each item, index in ['17.12.2024','7 682','3 мин.']
            .article__stats
              img.article__icon(src=staticImg(`icons/ic_blog_${index + 1}.svg`) alt='')
              .article__note!= item
        .article__sidebar.article__sidebar_mob
          .article__name Оглавление
          .article__area
            each item, index in articleList
              a.article__link(href=`#anchor_${index + 1}` data-role="scroll-to-anchor")= item
          .article__layer.layer
        .article__box
          h2.article__title#anchor_1 Поступление в вуз: вопросы для собеседования
          p.article__text.
            Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии и по сей день остаются
            уделом либералов, которые жаждут быть превращены в посмешище, хотя само их существование приносит несомненную
            пользу обществу.
          h3.article__headline Зачем школьнику тайм-менеджмент:
          ul.article__list
            li.article__item Цели в обучении: Какие основные задачи должны решаться в процессе обучения?
            li.article__item
              a(href='#') Результаты
              | , к которым хочется прийти: какие знания, умения и навыки должны иметь ученики по окончании обучения?
            li.article__item Содержание учебных предметов: что именно нужно изучать в разных предметах, чтобы прийти к целям?
            li.article__item Методика обучения: как должны проходить занятия и какие методы можно использовать для достижения результатов?
        .article__box
          h2.article__title#anchor_2 Нарушения речи у детей
          p.article__text.
            С другой стороны, экономическая повестка сегодняшнего дня однозначно определяет каждого участника как
            способного принимать собственные решения касаемо стандартных подходов.
          h3.article__headline Как победить хронофагов
          p.article__text
            | Повседневная практика
            |
            a(href='#') показывает
            | , что выбранный нами инновационный путь предполагает независимые способы
            | реализации дальнейших направлений развития. Лишь тщательные исследования конкурентов лишь добавляют
            | фракционных разногласий и ограничены исключительно образом мышления.
          h3.article__headline Отмечаем выполненное маркерами
          p.article__text.
            В частности, повышение уровня гражданского сознания является качественно новой ступенью экономической
            целесообразности принимаемых решений!
          p.article__text.
            С другой стороны, внедрение современных методик обеспечивает широкому кругу (специалистов) участие в
            формировании существующих финансовых и административных условий. Безусловно, повышение уровня гражданского
            сознания играет определяющее значение для своевременного выполнения сверхзадачи.
          p.article__info.
            Повседневная практика показывает, что выбранный нами инновационный путь
            предполагает независимые способы реализации дальнейших направлений развития.
            Лишь тщательные исследования конкурентов лишь добавляют фракционных
            разногласий и ограничены исключительно образом мышления.
          .article__video-box(data-element='article__video-box')
            video.article__video(src=`${pathStatics}/fonts/Shevchenko_1_klass.mov` poster=staticImg('Shevchenko_prevyu.jpg'))
        .article__box
          h2.article__title#anchor_3 Вопросы для подростков: что полезно и интересно обсудить до 15 лет
          p.article__text.
            Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии и по сей день остаются уделом
            либералов, которые жаждут быть превращены в посмешище, хотя само их существование приносит несомненную
            пользу обществу.
          .article__table-box
            table.article__table
              thead
                tr.article__row
                  th.article__th Вид
                  th.article__th Пример
                  th.article__th Способы победить
              tbody.article__body
                tr.article__row
                  td.article__td Контролируемые
                  td.article__td Скроллинг соцсетей, просмотр роликов
                  td.article__td Поставить лимиты в смартфоне для соцсетей, на которые уходит слишком много времени
                tr.article__row
                  td.article__td Неконтролируемые
                  td.article__td Пробки на дорогах, опоздания репетитора, друзей
                  td.article__td.
                    Совсем избежать форс-мажора нельзя, но можно заготовить на такие случаи список полезных дел:
                    почистить фотоальбом, выучить стихотворение, повторить сложную тему
        .article__box
          include ./forms/newsletter
        .article__box
          h2.article__title#anchor_4 Ситуэйшеншип, лавбомбинг, орбитинг, NPC: насколько вы понимаете сленг подростков
          p.article__text.
            Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии и по сей день остаются уделом
            либералов, которые жаждут быть превращены в посмешище, хотя само их существование приносит несомненную
            пользу обществу.
          img.article__image(src=staticImg('article.png') alt='')
          .article__source
            | Источник изображения:
            |
            a(href='#') Shutterstock
          .article__figcaption Подпись к картинке
          h3.article__headline Зачем школьнику тайм-менеджмент:
          ul.article__list
            li.article__item Цели в обучении: Какие основные задачи должны решаться в процессе обучения?
            li.article__item
              a(href='#') Результаты
              | , к которым хочется прийти: какие знания, умения и навыки должны иметь ученики по окончании обучения?
            li.article__item Содержание учебных предметов: что именно нужно изучать в разных предметах, чтобы прийти к целям?
            li.article__item Методика обучения: как должны проходить занятия и какие методы можно использовать для достижения результатов?
        .article__author
          .article__author-span Автор статьи:
          .article__author-box
            img.article__author-image(src=staticImg('author.png') alt='')
            .article__author-info
              .article__author-name Стрункина Анна
              .article__author-note Преподаватель русского языка
        .article__box
          include ./forms/trial
      .article__sidebar.article__sidebar_desc
        .article__name Оглавление
        .article__area
          each item, index in articleList
            a.article__link(href=`#anchor_${index+1}` data-role="scroll-to-anchor")= item
