-
  const articleList = [
    'Что лучше: уйти после 9 класса или остаться до 11 класса?',
    'А есть ли вообще смысл учиться 11 классов?',
    'Вопросы для подростков: что полезно и интересно обсудить до 15 лет',
    'Ситуэйшеншип, лавбомбинг, орбитинг, NPC: насколько вы понимаете сленг подростков',
  ]

.article
  .article__cont.cont
    .article__top
      h1.article__caption.caption Вопросы для подростков: что полезно и интересно обсудить до 15 лет
      .article__line
        each item, index in ['17.12.2024<span> | обновлено 20.12.2024</span>','7 682','3 мин.']
          .article__stats
            img.article__icon(src=staticImg(`icons/ic_blog_${index+1}.svg`) alt='')
            .article__note!= item
    .article__cage
      .article__main
        picture.article__picture.article__picture_main
          img.article__image(src=staticImg('article/article-main.png') alt='')
        .article__source
          | Источник изображения:
          |
          a(href='#') Shutterstock
        .article__line.article__line_mob
          each item, index in ['17.12.2024','7 682','3 мин.']
            .article__stats
              img.article__icon(src=staticImg(`icons/ic_blog_${index + 1}.svg`) alt='')
              .article__note!= item
        .article__sidebar.article__sidebar_mob
          .article__name Оглавление
          .article__area
            each item, index in articleList
              a.article__link(href=`#anchor_${index + 1}` data-role="scroll-to-anchor")= item
          .article__layer.layer
        h2.article__title#anchor_1 Что лучше: уйти после 9 класса или остаться до 11 класса?
        p.article__text.
          Прошли те времена, когда уход из школы после 9 класса ассоциировался с плохими оценками и невозможностью
          поступить в вуз. Сегодня раннее “прощание” со школой — это чаще не вынужденная мера, а осознанное и
          взвешенное решение. И уж оно точно не про согласие.
        ul.article__list
          li.article__item.
            Ученик уже имеет чёткое представление о своей будущей профессии и хочет углубиться в неё (не теряя 2
            года в школе), чтобы как можно раньше начать строить карьеру и зарабатывать деньги. Есть даже те, кто
            из-за этого вообще никуда не поступает, а например, выбирает тематические онлайн-курсы для школьников
            и, окончив их, начинает сразу трудиться. Например, SMM-щиком или фотографом. Ну а дальше накапливает
            опыт, репутацию и клиентскую базу. Как показывает практика, можно и без “диплома” быть востребованным
            специалистом. Сложно, но можно.
          li.article__item.
            Ученик не намерен стрессовать из-за ЕГЭ и хочет участвовать в более простом конкурсном отборе на основе
            аттестатов. А если в аттестате за 9-й класс стоит высокий средний балл — это увеличивает шансы поступить
            на бюджетное место по выбранной специальности в колледж или техникум.
        h2.article__title#anchor_2 А есть ли вообще смысл учиться 11 классов?
        p.article__text
          b Разумеется, да.
        ul.article__list
          li.article__item.
            Например, если в ваших планах всё-таки стоит поступление в вуз, то лучше доучиться до 11 класса и сдать
            ЕГЭ. Потому что итоговый экзамен хоть и “страшный”, но он хотя бы единый для всех учеников и его
            результаты принимаются везде. В то время как вступительные испытания в самих вузах разнятся. И если
            после колледжа вы надумаете подавать документы в несколько институтов и университетов — вам придётся
            готовиться к экзаменам в каждый из них.
          li.article__item.
            Если вы до конца не определились с выбором специальности или вообще пока не определялись — тогда смело
            учитесь 11 классов и не порите горячку после 9-го. За два года можно многое для себя понять и уже пойти
            на ту специальность, которая в итоге и станет любимой, может быть даже на всю жизнь. Плюс лишние пару
            лет точно не помешают, чтобы посмотреть на ситуацию в мире и на рынке труда: что сейчас востребовано и
            что высоко оплачивается.
          li.article__item.
            Ну и вдогонку… Никто не отменял всеобщих эмоций и радости от “медлячка, чтобы ты заплакала”. Школьный
            выпускной бал — это красивая традиция, которая торжественно закрывает детство и открывает дорогу во
            взрослую жизнь. Разумеется, просиживать 11 классов только ради выпускного не стоит. Выпускной вечер —
            это просто приятный бонус для тех, кто полностью прошёл квест под названием “Школа”.
        picture.article__picture
          img.article__image(src=staticImg('article/article-short.png') alt='')
        p.article__text.
          Сразу скажем, что слово “лучше” здесь для каждого означает что-то своё и зависит от того, какие цели вы
          преследуете. Если вы определились с профессией и хотите поскорее начать карьеру, перспективнее для вас будет
          уйти после 9 класса в колледж. А если вы никуда не спешите и планируете покорять вуз — то учитесь все 11
          классов и затем уже получайте “вышку” по желаемой специальности.
        p.article__text.
          Но, даже если вы выбрали колледж, это не отменяет того, что вы можете после него получить высшее образование.
          Даже медицинское. Путь, конечно, будет более извилистым по сравнению с 11-классниками, но это тоже возможно.
        p.article__text.
          Ну и давайте быстро пробежимся по некоторым специальностям…
        .article__video-box(data-element='article__video-box')
          video.article__video(src=`${pathStatics}/files/Shevchenko_1_klass.mov` poster=staticImg('Shevchenko_prevyu.jpg'))
        h2.article__title#anchor_3 Вопросы для подростков: что полезно и интересно обсудить до 15 лет
        p.article__text.
          Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии и по сей день остаются уделом
          либералов, которые жаждут быть превращены в посмешище, хотя само их существование приносит несомненную
          пользу обществу.
        .article__info.
          Повседневная практика показывает, что выбранный нами инновационный путь
          предполагает независимые способы реализации дальнейших направлений развития.
          Лишь тщательные исследования конкурентов лишь добавляют фракционных
          разногласий и ограничены исключительно образом мышления.
        .article__table-box
          table.article__table
            thead
              tr.article__row
                th.article__th Вид
                th.article__th Пример
                th.article__th Способы победить
            tbody.article__body
              tr.article__row
                td.article__td Контролируемые
                td.article__td Скроллинг соцсетей, просмотр роликов
                td.article__td Поставить лимиты в смартфоне для соцсетей, на которые уходит слишком много времени
              tr.article__row
                td.article__td Неконтролируемые
                td.article__td Пробки на дорогах, опоздания репетитора, друзей
                td.article__td.
                  Совсем избежать форс-мажора нельзя, но можно заготовить на такие случаи список полезных дел:
                  почистить фотоальбом, выучить стихотворение, повторить сложную тему
        include ./forms/newsletter
        h2.article__title#anchor_4 Ситуэйшеншип, лавбомбинг, орбитинг, NPC: насколько вы понимаете сленг подростков
        p.article__text.
          Кстати, стремящиеся вытеснить традиционное производство, нанотехнологии и по сей день остаются уделом
          либералов, которые жаждут быть превращены в посмешище, хотя само их существование приносит несомненную
          пользу обществу.
        picture.article__picture
          img.article__image(src=staticImg('article.png') alt='')
        .article__source
          | Источник изображения:
          |
          a(href='#') Shutterstock
        .article__figcaption Подпись к картинке
        ul.article__list
          li.article__item Цели в обучении: Какие основные задачи должны решаться в процессе обучения?
          li.article__item
            a(href='#') Результаты
            | , к которым хочется прийти: какие знания, умения и навыки должны иметь ученики по окончании обучения?
          li.article__item Содержание учебных предметов: что именно нужно изучать в разных предметах, чтобы прийти к целям?
          li.article__item Методика обучения: как должны проходить занятия и какие методы можно использовать для достижения результатов?
        .article__author
          .article__author-span Автор статьи:
          .article__author-box
            img.article__author-image(src=staticImg('author.png') alt='')
            .article__author-info
              .article__author-name Стрункина Анна
              .article__author-note Преподаватель русского языка
        .article__box
          include ./forms/trial
      .article__sidebar.article__sidebar_desc
        .article__name Оглавление
        .article__area
          each item, index in articleList
            a.article__link(href=`#anchor_${index+1}` data-role="scroll-to-anchor")= item
