article.cap-old.summer(data-btn-fixed-hide="true")
  .cont(class="cap-old__cont")
    div(class="cap-old__wrap")
      h1(class="cap-old__caption")
        | Занятия для детей
        br
        | с 1 по 11 класс
      div(class="cap-old__inner")
        div(class="cap-old__box cap-old__box_1")
          div(class="cap-old__text") Лучшие учителя РФ*
          div(class="cap-old__hover") По результатам всероссийских конкурсов
        div(class="cap-old__box cap-old__box_2")
          div(class="cap-old__text") Твердые знания
        div(class="cap-old__box cap-old__box_3")
          div(class="cap-old__text") Интерес к учёбе
        div(class="cap-old__box cap-old__box_4")
          div(class="cap-old__text") Отличные оценки
        div(class="cap-old__box cap-old__box_5")
          div(class="cap-old__text") Успешное будущее
      div(class="cap-old__count")
        img(
          alt=""
          src=staticImg('cap-old/cap-count.png')
          class="cap-old__count-image"
        )
        div(class="cap-old__count-text") Более 44 000 счастливых учеников
      div(class="cap-old__news-caption")
        | Летний ритм:
        br
        | занимайтесь в своём темпе
      a(
        href="https://tochka-school.ru/summer_course"
        class="cap-old__news"
      )
        div(class="cap-old__news-headline") Летние курсы
        div(class="cap-old__news-list")
          div(class="cap-old__news-item") Школьные предметы 1-11 класс
          div(class="cap-old__news-item") Развивающие курсы
          div(class="cap-old__news-item") Подготовка к ОГЭ и ЕГЭ
          div(class="cap-old__news-item") Семейное обучение 1-8 класс
        div(class="cap-old__news-note") Занятия в мае бесплатно
        div(class="cap-old__news-gift")
        .btn-orange(class="cap-old__news-button") Выбрать курс
