-
  const capList = [
    {
      headline: 'Начальная школа',
      tags: ['1-4 класс','Семейное обучение'],
    },
    {
      headline: 'Средняя школа',
      tags: ['5-8 класс','Семейное обучение'],
    },
    {
      headline: 'Старшая школа',
      tags: ['9-11 класс','Подготовка к ОГЭ и ЕГЭ'],
    },
    {
      headline: 'Курсы для учителей',
      tags: ['Повышение квалификации'],
    },
  ]
  const capInner = [
    {text: 'Лучшие учителя РФ*', hover: 'По результатам всероссийский конкурсов'},
    {text: 'Твердые знания', hover: ''},
    {text: 'Интерес к учёбе', hover: ''},
    {text: 'Отличные оценки', hover: ''},
    {text: 'Успешное будущее', hover: ''},
  ]

article.cap
  .cap__cont.cont
    .cap__wrap
      h1.cap__caption
        | Занятия для детей
        br
        | с 1 по 11 класс
      .cap__inner
        each box, index in capInner
          .cap__box(class=`cap__box_${index+1}`)
            .cap__text= box.text
            if box.hover
              .cap__hover= box.hover
      .cap__count
        img.cap__count-image(src=staticImg('cap/cap-count.png') alt='')
        .cap__count-text Более 44 000 счастливых учеников
      .cap__title Выберите направление
      .cap__list
        each item, index in capList
          .cap__item(class=`cap__item_${index+1}`)
            .cap__item-box
              .cap__headline= item.headline
              .cap__tags
                each tag in item.tags
                  .cap__tag= tag
            a.cap__button.btn-orange(href='#') Выбрать
