-
  const clipFaqList = [
    {
      question: 'Как я буду контролировать обучение ребёнка? <br> Будет ли журнал с отметками?',
      answer: 'У родителя будет свой раздел на платформе обучения со всей информацией. Вы будете на связи с тьюторами по каждому предмету, будете знать о результатах ежемесячных тестирований и успехах ребёнка в учёбе, а ещё информация об успеваемости будет приходить вам на email. Также за ребёнком будет закреплён куратор, который будет напоминать о сроках аттестации и контролировать процесс обучения.'
    },
    {
      question: 'Достаточно ли уроков, чтобы освоить школьную программу?',
      answer: 'В среднем у ребёнка будет 1–3 урока в день. Да, это меньше, чем в обычной школе. Но всё время урока «Точки Знаний» посвящено именно уроку: учитель не отвлекается на опоздавших, не проводит перекличку, не тратит силы на дисциплину в классе, не проводит проверку домашнего задания и т. д. А после урока ребёнок по каждому предмету взаимодействует с личным тьютором, к которому может обратиться с любым вопросом. Поэтому уроков в «Точке Знаний» на семейном обучении достаточно, чтобы освоить школьную программу на высоком уровне.'
    },
    {
      question: 'Обязательно ли посещать все занятия?',
      answer: 'Посещать все занятия онлайн не обязательно, но желательно. В случае, если вы пропустили урок, можно всегда вернуться к нему в формате видеозаписи.'
    },
    {
      question: 'Если ребёнок заболел, как ему нагонять программу?',
      answer: 'Если ребенок заболел, ему будет предоставлена помощь в освоении программы через дополнительные материалы, консультации с тьютором и возможность просмотра всех занятий в записи, что позволит легко восполнить упущенное.'
    },
    {
      question: 'Будут ли каникулы, как в обычной школе?',
      answer: 'Осенних и весенних каникул в "Точке Знаний" в этом учебном году не будет. Но при желании можно "взять паузу" на неделю, а затем посмотреть уроки в записи. Отдыхаем летом, на Новый год и по праздникам.'
    },
    {
      question: 'Есть ли внеурочная школьная жизнь?',
      answer: 'Да, внеурочная жизнь в нашей школе будет. Сейчас в разработке такие активности, как шахматы, кинопедагогика, литературный клуб для детей и родителей, работа детского коуча в контексте развития soft-skills ребёнка. Также мы планируем проводить встречи по городам для общения и социализации.'
    },
    {
      question: 'Можно ли оплачивать обучение материнским капиталом?',
      answer: 'Да, Вы можете оплачивать обучение мат. капиталом, а также получить налоговый вычет за оплату обучения. Поможем с оформлением документов и подачей заявлений.'
    },
  ]
  const clipArea = [
    'Онлайн-школа года 2024 <br> по версии «GetCourse»','Аккредитованная <br> IT-компания',
    'Школа №1 в 2024 в рейтинге школ&nbsp;на&nbsp;внешних&nbsp;платформах по&nbsp;версии&nbsp;«SmartRanking»',
    'Школа №1 по математике 2023 <br> согласно рейтингу «GetCourse»',
    'Образовательная <br> лицензия',
    '44 000+ учеников',
    'Резидент «Сколково»',
    'Средняя оценка родителей в Яндексе: 4,9'
  ]
  const clipBonuses = [
    {
      title: 'Бонус №1',
      text: 'Руководство для родителей «Как перейти на семейное обучение».'
    },
    {
      title: 'Бонус №2',
      text: 'Руководство для родителей «Как мотивировать ребёнка учиться».'
    },
    {
      title: 'Бонус №3',
      text: 'Подборка пробных уроков за ваш класс. По всем предметам!'
    },
    {
      title: 'Бонус №4',
      note: 'Уникальный бонус только для посетителей этой страницы. То есть для вас.',
      text: 'Руководство для родителей «Как&nbsp;развивать таланты и способности ребёнка»'
    }
  ]

.clip.clip_3
  .clip__wrap.clip__wrap_no-padding
    .clip__text.
      Скажем сразу, что у нас нет задачи продать вам что-то здесь и сейчас.
      И навязывать вам что-то всеми правдами и неправдами мы тоже не будем.
      Переход на семейное обучение — это серьёзный и осознанный выбор.
    .clip__text.
      Если будете готовы принять решение уже сейчас — хорошо. Если нет — тоже хорошо. Мы всё понимаем. Вопросов может быть много.
    .clip__text
      | В конце страницы вы сможете оставить заявку и получить бесплатную консультацию от нашего методиста. А также ниже вас ждёт
      |
      b приятный бонус.
      |
      | Может быть, даже не один)
    .clip__text А пока ответим на вопрос, который наверняка уже звучит в вашей голове.
  .clip__wrap.clip__wrap_grey
    .clip__text Стоимость семейного обучения в «Точке Знаний»: от 13 900 руб. в месяц
    .clip__text.
      “От” — это не значит, что до миллиарда. Нет, верхняя планка всего 19 900 руб. в месяц. Всё зависит от
      количества школьных предметов в вашем классе.
    .clip__text.
      В стоимость семейного обучения входят ВСЕ школьные предметы
      за ваш класс, а также бесплатно в качестве бонуса 2-4 дополнительных курса (не из школьной программы).
    ul.clip__more-list
      each item in [{title:'Рассрочка',text:'У нас есть рассрочка до 8 месяцев без банков и переплаты %.'},{title:'Материнский капитал и налоговый вычет',text:'Вы можете оплатить обучение материнским капиталом, а также получить налоговый вычет. С оформлением и подачей документов мы вам поможем.'}]
        li.clip__more-item
          .clip__more-title= item.title
          .clip__more-text= item.text
    .clip__text Это что касается стоимости обучения и вариантов оплаты.
  .clip__wrap.clip__wrap_no-padding
    .clip__headline Ответим сразу и на другие часто задаваемые вопросы.
    ul.clip__faq-list
      each item in clipFaqList
        li.clip__faq-item(data-element='faq-item')
          .clip__faq-top!= item.question
          .clip__faq-answer
            .clip__faq-answer-inner
              p.clip__faq-text!= item.answer
  .clip__wrap.clip__wrap_grey.clip__wrap_no-padding
    .clip__headline Ну и ещё несколько слов о «Точке Знаний»:
    .clip__area
      each box in clipArea
        .clip__box!= box
    .clip__text.
      Мы написали это не самолюбования ради, а для вашего успокоения. Как видите, наша школа уже многим «зашла».
      От экспертов в мире образования до самих школьников и их родителей (что особенно важно для нас!).
    .clip__text И ещё…
  .clip__wrap.clip__wrap_no-padding
    .clip__headline Переводя ребёнка на семейное обучение в «Точку Знаний», вы вообще ничем не рискуете!
    .clip__text Во-первых, сначала вы можете пообщаться с нашим методистом и посмотреть, как всё устроено изнутри.
    .clip__text А во-вторых, вы можете начать учиться у нас, не забирая документы из обычной школы. Сделаете это позднее, когда будете уверены, что вам всё нравится.
    .clip__headline!= 'Вот, собственно и всё, что мы хотели сказать. <br> Спасибо, что дочитали!'
    .clip__text Теперь вам осталось только принять решение: продолжить ходить в обычную школу или же дать ребёнку лучшее образование.
    .clip__text Но перед принятием этого решения обязательно пообщайтесь с методистом «Точки Знаний». Это бесплатно.
    ul.clip__simple-list
      li.clip__simple-item Он подскажет, как перевести ребёнка на семейное обучение именно в вашем случае.
      li.clip__simple-item Покажет, как проходят уроки в нашей школе.
      li.clip__simple-item Ответит на все ваши вопросы.
    .clip__button-box
      a.clip__button.btn-orange(href='#modal-order-new' data-fancybox data-options='{"touch": false}') Оставить заявку
    br
    br
    .clip__text А сейчас обещанные бонусы…
    .clip__headline После заполнения заявки мы пришлём вам на почту:
    .clip__bonuses
      each bonus, index in clipBonuses
        .clip__bonus(class = index === 3 ? `clip__bonus_orange` : false)
          img.clip__bonus-image(src=staticImg(`clip/bonus-${index+1}.png`) alt='')
          .clip__bonus-title!= bonus.title
          if bonus.note
            .clip__bonus-note!= bonus.note
          .clip__bonus-text!= bonus.text
    .clip__headline.clip__headline_center Ещё раз спасибо! И до встречи на семейном обучении
    .clip__button-box
      a.clip__button.btn-orange(href='#modal-order-new' data-fancybox data-options='{"touch": false}') Оставить заявку и забрать бонусы
