mixin consult(image)
  .consult
    .consult__cont.cont
      .consult__area
        .consult__title Нужна консультация?
        .consult__text Задавайте любые вопросы, поможем подобрать занятия
        picture.consult__decor
          source(srcset=staticImg(`consult/${image}_mob.svg`) media="(max-width: 743px)")
          source(srcset=staticImg(`consult/${image}_tablet.svg`) media="(max-width: 1439px)")
          img.consult__decor-image(src=staticImg(`consult/${image}.svg`) alt='')
        .consult__buttons
          a.consult__btn.consult__btn_order.btn-orange(href='#modal-order-new' data-fancybox data-options='{"touch": false}') Оставить заявку
          a.consult__btn.consult__btn_wp.btn-blue(href='https://api.whatsapp.com/send/?phone=79182293194&text&type=phone_number&app_absent=0' target='_blank') Связаться в WhatsApp
