mixin cost (mod, isOffer)
  .cost(class = mod ? mod : false id = mod !== 'shortest' ? 'pre-reg' : false data-btn-fixed-hide="true")
    .cost__cont.cont
      if mod === 'shortest' || mod === 'shortest-summer'
        a.cost__informer(href='#')
          .cost__informer-title Этот курс уже доступен к покупке на 25/26 учебный год
          button.cost__informer-button.btn-orange Подробнее
      if mod !== 'shortest' && mod !== 'shortest-summer' && mod !== 'capital'
        h2.cost__caption Стоимость годового абонемента
      .cost__wrap
        if mod !== 'capital'
          if mod !== 'shortest' && mod !== 'shortest-summer'
            if mod !== 'short' && mod !== 'offer' && mod !== 'offer-short'
              .cost__area
                .cost__box.cost__box_trial
                  .cost__name Пробная неделя
                  .cost__text Доступ к обучению на 7 дней
                  .cost__price
                    .cost__price-current 290 ₽
                    .cost__price-old 1 250 ₽
                .cost__title Что включено
                .cost__list
                  .cost__item 2 онлайн-урока
                  .cost__item Все занятия в записи
                  .cost__item Личный тьютор-педагог 5 дней в неделю
                  .cost__item Проверка домашних заданий к каждому уроку
                  .cost__item Входное тестирование
                  .cost__item Конспекты уроков и учебные материалы
                a.cost__button.btn-orange(href='#') Начать обучение
            if !isOffer
              .cost__area
                .cost__box.cost__box_blue
                  if mod === 'offer' || mod === 'offer-short'
                    .cost__tag Спецпредложение
                  .cost__name Занятия онлайн + в записи
                  .cost__text Рассрочка до 9 месяцев без банков и %
                  .cost__price
                    .cost__price-current(data-element="price-plan-current") 3 486 ₽
                    if mod === 'offer' || mod === 'offer-short'
                      .cost__old-price(data-element="price-plan-old") 8 500 ₽
                    .cost__price-period / в месяц
                    .cost__discount Скидка 25%
                  .cost__full-price
                    span!= 'Полная оплата <b data-element="price-full-current">16 338 ₽</b>'
                    if mod === 'offer' || mod === 'offer-short'
                      .cost__old-price(data-element="price-full-old") 32 338 ₽
                      .cost__discount Скидка 25%
                .cost__title Что включено
                .cost__list
                  .cost__item 1 онлайн-урок в неделю с сентября по май
                  .cost__item Все занятия в записи
                  .cost__item Личный тьютор-педагог 5 дней в неделю
                  .cost__item Проверка домашних заданий по каждому уроку
                  .cost__item Входное и ежемесячное тестирование
                  .cost__item Бесплатные занятия летом 2026
                  .cost__item Конспекты уроков и учебные материалы
                if mod === 'offer'
                  .cost__additional
                    label.cost__label
                      input.cost__checkbox(type='checkbox' name='additional_1' checked
                        new-href='new-href-link'
                        data-price-full-old-checkbox-off='31 338 ₽'
                        data-price-full-old-checkbox-on='32 338 ₽'
                        data-price-full-current-checkbox-off='15 338 ₽'
                        data-price-full-current-checkbox-on='16 338 ₽'
                        data-price-plan-old-checkbox-off='7 500 ₽'
                        data-price-plan-old-checkbox-on='8 500 ₽'
                        data-price-plan-current-checkbox-off='5 446 ₽'
                        data-price-plan-current-checkbox-on='6 446 ₽'
                      )
                      .cost__checkbox-view
                      .cost__list
                        .cost__item Бесплатные занятия летом 2026
                        .cost__item Занятия в сентябре 2026
                a.cost__button.btn-orange(href='#') Начать обучение
            .cost__area
              .cost__box
                if mod === 'offer' || mod === 'offer-short'
                  .cost__tag Спецпредложение
                .cost__name Занятия в записи
                .cost__text Рассрочка до 9 месяцев без банков и %
                .cost__price
                  .cost__price-current(data-element="price-plan-current") 2 986 ₽
                  if mod === 'offer' || mod === 'offer-short'
                    .cost__old-price(data-element="price-plan-old") 5 500 ₽
                  .cost__price-period / в месяц
                  .cost__discount Скидка 25%
                .cost__full-price
                  span!= 'Полная оплата <b data-element="price-full-current">14 970 ₽</b>'
                  if mod === 'offer' || mod === 'offer-short'
                    .cost__old-price(data-element="price-full-old") 42 338 ₽
                    .cost__discount Скидка 25%
              .cost__title Что включено
              .cost__list
                .cost__item.cost__item_minus 1 онлайн-урок в неделю с сентября по май
                .cost__item Все занятия в записи
                .cost__item Личный тьютор-педагог 5 дней в неделю
                .cost__item Проверка домашних заданий по каждому уроку
                .cost__item Входное и ежемесячное тестирование
                .cost__item Бесплатные занятия летом 2026
                .cost__item Конспекты уроков и учебные материалы
              if mod === 'offer'
                .cost__additional
                  label.cost__label
                    input.cost__checkbox(type='checkbox' name='additional_2' checked
                      new-href='new-href-link'
                      data-price-full-old-checkbox-off='41 338 ₽'
                      data-price-full-old-checkbox-on='42 338 ₽'
                      data-price-full-current-checkbox-off='19 338 ₽'
                      data-price-full-current-checkbox-on='20 338 ₽'
                      data-price-plan-old-checkbox-off='4 500 ₽'
                      data-price-plan-old-checkbox-on='5 500 ₽'
                      data-price-plan-current-checkbox-off='2 446 ₽'
                      data-price-plan-current-checkbox-on='3 446 ₽'
                    )
                    .cost__checkbox-view
                    .cost__list
                      .cost__item Бесплатные занятия летом 2026
                      .cost__item Занятия в сентябре 2026
              a.cost__button.btn-orange(href='#') Начать обучение
          if mod === 'offer' || mod === 'offer-short'
            .cost__offer
              .cost__offer-title До конца специального предложения осталось:
              .offer-timer(date-end="2025-04-10T12:00:00")
                each item in [{number: '6', note: 'дней'},{number: '15', note: 'часов'},{number: '58', note: 'минут'},{number: '19', note: 'секунд'}]
                  .offer-timer__box
                    .offer-timer__number= item.number
                    .offer-timer__note= item.note
          if mod !== 'offer-short'
            .info__area(class = isOffer ? 'info__area_offer' : false)
              .info__title Нужна консультация?
              .info__text Задавайте любые вопросы, поможем подобрать занятия
              picture.info__decor
                source(srcset=staticImg(`info/info-decor-2_mob.svg`) media="(max-width: 743px)")
                source(srcset=staticImg(`info/info-decor-2_tablet.svg`) media="(max-width: 1359px)")
                if isOffer
                  img.info__decor-image(src=staticImg(`info/info-decor-2_short.svg`) alt='')
                else
                  img.info__decor-image(src=staticImg(`info/info-decor-2.svg`) alt='')
              .info__buttons
                a.info__btn.info__btn_order.btn-orange(href='#modal-order-new' data-fancybox data-options='{"touch": false}') Оставить заявку
                a.info__btn.info__btn_wp.btn-blue(href='https://api.whatsapp.com/send/?phone=79182293194&text&type=phone_number&app_absent=0' target='_blank') Связаться в WhatsApp
        .fund(class = isOffer ? `fund_offer` : false)
          .fund__title Материнский капитал и&nbsp;налоговый вычет
          .fund__text
            span Вы можете оплатить обучение материнским капиталом, а также получить налоговый вычет.
            span Поможем со списком документов и остальными вопросами.
          .fund__decor
          a.fund__button.btn-orange(href='https://api.whatsapp.com/send/?phone=79182293194&text&type=phone_number&app_absent=0' target='_blank') Перейти к оформлению

