mixin course-cap(mod, id='pre-reg', over, timer)
  .course-cap(class = mod ? `course-cap_${mod}` : false)
    .course-cap__cont.cont
      .course-cap__area
        .course-cap__decor.course-cap__decor_1
        .course-cap__decor.course-cap__decor_2
        .course-cap__box
          if mod === 'offer'
            .course-cap__top
              .course-cap__number 10 класс
              .course-cap__tag Закрытые предпродажи! Только для первых 50 человек
          else
            .course-cap__number 10 класс
          if mod === "3-teachers"
            h1.course-cap__caption!= 'Естественные науки: эксперименты и&nbsp;открытия'
          else
            h1.course-cap__caption!= 'Курс по информатике <span>(в&nbsp;записи)</span>'
          .course-cap__tickets
            .course-cap__ticket.blue Места ограниченны
            .course-cap__ticket.green Высокий спрос
          if mod === 'offer'
            .course-cap__offer
              .course-cap__offer-text До конца спецпредложения осталось:
              .offer-timer(date-end="2025-04-10T12:00:00")
                each item in [{number: '', note: 'дней'},{number: '', note: 'часов'},{number: '', note: 'минут'},{number: '', note: 'секунд'}]
                  .offer-timer__box
                    .offer-timer__number= item.number
                    .offer-timer__note= item.note
          picture.course-cap__picture
            if mod === "3-teachers"
              source(srcset=staticImg(`course-cap/3-teachers_mob.png`) media="(max-width: 743px)")
              source(srcset=staticImg(`course-cap/3-teachers_tablet.png`) media="(max-width: 1359px)")
              img.course-cap__image(src=staticImg('course-cap/3-teachers.png') alt='')
            else
              if mod === 'no-teacher'
                img.course-cap__image(src=staticImg('course-cap/placeholder.png') alt='')
              else
                img.course-cap__image(src=staticImg('course-cap/Kostileva.png') alt='')
          .course-cap__buttons
            if over
              .course-cap__button.btn-orange.over Продажи завершены
            else
              a.course-cap__button.btn-orange(href=`#${id}` data-role='scroll-to-anchor') Начать обучение
            if mod === "3-teachers"
              .course-cap__3-teachers
                | Елена Владимировна Щукина
                br
                | Наталья Павловна Титорова
                br
                | Скоро объявим учителя
            else
              if mod === 'no-teacher'
                .course-cap__author Скоро здесь появится учитель
              else
                .course-cap__author Галина Валерьевна Шевченко
            if timer
              .course-cap__timer-box
                .course-cap__timer-text!= 'Последний шанс записаться на летние курсы! Осталось:'
                .course-cap__timer(date-end="2025-07-10T12:00:00" data-element="timer")
                  each item in [{number: '', note: 'день'},{number: '', note: 'час'},{number: '', note: 'мин'},{number: '', note: 'сек'}]
                    .course-cap__timer-area
                      .course-cap__timer-number(data-element="timer-number")= item.number
                      .course-cap__timer-note= item.note
