mixin ege-cap(mod, title)
  .ege-cap(class = mod ? `ege-cap_${mod}` : false)
    .cont
      .ege-cap__wrap
        .ege-cap__area
          .ege-cap__tabs-box
            .ege-cap__tabs
              if mod === 'ege'
                a.ege-cap__tab(href='#') ОГЭ
                .ege-cap__tab ЕГЭ
              else
                .ege-cap__tab ОГЭ
                a.ege-cap__tab(href='#') ЕГЭ
          h1.ege-cap__caption!= title
          ul.ege-cap__list
            li.ege-cap__item
              | лучшие учителя страны*
              .ege-cap__hover По результатам всероссийский конкурсов
            li.ege-cap__item выверенная программа подготовки
            li.ege-cap__item с личным тьютором: от первого урока до экзамена
          a.ege-cap__button(href='#ege-tile' data-role="scroll-to-anchor") Выбрать предмет
          picture.ege-cap__picture
            source(srcset=staticImg(`ege-cap/${mod}_mob.webp`) media="(max-width: 743px)")
            source(srcset=staticImg(`ege-cap/${mod}_tablet.webp`) media="(max-width: 1359px)")
            img.ege-cap__image(src=staticImg(`ege-cap/${mod}.webp`) alt='')
          .ege-cap__decor.ege-cap__decor_1
          .ege-cap__decor.ege-cap__decor_2
          .ege-cap__decor.ege-cap__decor_3
          .ege-cap__decor.ege-cap__decor_4
        include ./ege-cap__form
        +ege-cap__form('Начните подготовку прямо сейчас. Оставьте заявку!')
