-
  const famDocInfo = [
    {
      headline: 'Текущая аттестация',
      text: 'проводится на усмотрение онлайн-школы. Контрольные точки, которые не идут в аттестационный лист и не влияют на оценку в конце года, рекомендуется проходить для подготовки к промежуточной аттестации.'
    },
    {
      headline: 'Промежуточная аттестация',
      text: 'обязательна для всех учеников на семейной форме обучения, проводится в конце года для перевода в следующий класс. По ее результатам выдается аттестационный лист.'
    },
    {
      headline: 'Итоговая',
      text: 'аттестация (ГИА): ОГЭ и ЕГЭ. Государственный экзамен, который проводит школа, к которой прикреплен ученик. Аттестат вручает эта же школа.'
    },
  ]
mixin fam-doc(mod)
  .fam-doc(class = mod ? mod : false)
    .fam-doc__cont.cont
      .fam-doc__wrap
        .fam-doc__caption Аттестация
        .fam-doc__year-box
          .fam-doc__year 2025/2026
        .fam-doc__title Как проходит аттестация
        .fam-doc__list
          each item in ['В виде теста','Можно пересдать','Онлайн','Типы заданий известны заранее']
            .fam-doc__item= item
        .fam-doc__area
          .fam-doc__box!= 'Куратор напомнит об аттестации, сообщит о результатах и поможет с&nbsp;пересдачей в случае необходимости.'
          .fam-doc__box.
            Ученики 1-11 классов могут  сдать промежуточную аттестацию раньше срока.
          .fam-doc__box.
            С 1 по 11 класс выдаем аттестационный лист с оценками по всем предметам при прикреплении к школе-партнеру.
          .fam-doc__box.
            По желанию родителя, и при условии, что ребёнок успешно прошёл все текущие аттестации, мы можем засчитать
            среднюю оценку по ним, как результат промежуточной аттестации.
        button.fam-doc__button.btn-blue Открыть расписание аттестации
        .fam-doc__tables
          .fam-doc__table.fam-doc__table_long-desk
            table
              tr
                th
                th Осенняя
                th Зимняя
                th Полугодовая
                th Весенняя
                th Промежуточная
              tr
                td 1-8 класс
                td 10.11 - 16.11
                td 12.01 - 18.01
                td
                td 02.03 - 08.03
                td 11.05 - 17.05
              tr
                td 9-11 класс
                td 10.11 - 16.11
                td
                td 12.01 - 18.01
                td
                td 6.04 - 12.04
          .fam-doc__table.fam-doc__table_long-mob
            table
              tr
                th
                th 1-8 класс
                th 9-11 класс
              tr
                td Осенняя
                td 10.11 - 16.11
                td 17.11 - 23.11
              tr
                td Зимняя
                td 12.01 - 18.01
                td
              tr
                td
                  span Полугодовая
                  span.mob!= 'Полу-<br>годовая'
                td
                td 12.01 - 18.01
              tr
                td Весенняя
                td 02.03 - 08.03
                td
              tr
                td
                  span Промежуточная
                  span.mob!= 'Промежу-<br>точная'
                td 11.05 - 17.05
                td 6.04 - 12.04
        .fam-doc__info
          each info in famDocInfo
            .fam-doc__info-box
              .fam-doc__info-headline!= info.headline
              .fam-doc__info-text!= info.text

