mixin cost (mod)
  .cost#pre-reg(data-btn-fixed-hide="true")
    .cost__cont.cont
      h2.cost__caption Стоимость годового абонемента
      .cost__wrap(class= mod ? `cost__wrap_${mod}` : false)
        if mod !== 'short'
          .cost__area
            .cost__box
              .cost__name Пробная неделя
              .cost__text Доступ к обучению на 7 дней
              .cost__price
                .cost__price-current 290 ₽
                .cost__price-old 1 250 ₽
            .cost__title Что включено
            .cost__list
              .cost__item 2 онлайн-урока в неделю
              .cost__item Все занятия в записи
              .cost__item Личный тьютор-педагог 5 дней в неделю
              .cost__item Проверка домашних заданий к каждому уроку
              .cost__item Входное тестирование
              .cost__item.cost__item_minus Бесплатные занятия летом
              .cost__item!= '<span>Бонус:</span> набор полезных материалов по воспитанию детей'
            a.cost__button.btn-orange(href='#') Начать обучение
        .cost__area
          .cost__box.cost__box_blue
            .cost__name Занятия онлайн + в записи
            .cost__text Рассрочка на 3 месяца без переплат
            .cost__price
              .cost__price-current 19 900 ₽
              .cost__price-period / в месяц
            .cost__full-price
              span!= 'При полной оплате <b>59 700 ₽</b>'
          .cost__title Что включено
          .cost__list
            .cost__item Онлайн-уроки по программе 1 класса с сентября по май
            .cost__item Записи уроков
            .cost__item Помощь 8 педагогов-тьюторов по&nbsp;предметам, обратная связь 5&nbsp;дней&nbsp;в&nbsp;неделю
            .cost__item Входное и ежемесячное тестирование
            .cost__item Прикрепление к школе-партнёру
            .cost__item Прохождение аттестации
            .cost__item!= '<span>Бонус:</span> бесплатные занятия летом 2025'
            .cost__item!= '<span>Бонус:</span> Набор полезных материалов для учёбы и развития ребёнка'
          a.cost__button.btn-orange(href='#') Начать обучение
        .cost__area
          .cost__box
            .cost__name Занятия в записи
            .cost__text Рассрочка на 3 месяца без переплат
            .cost__price
              .cost__price-current 16 900 ₽
              .cost__price-period / в месяц
            .cost__full-price
              span!= 'При полной оплате <b>50 700 ₽</b>'
          .cost__title Что включено
          .cost__list
            .cost__item.cost__item_minus Онлайн-уроки по программе 1 класса с сентября по май
            .cost__item Записи уроков
            .cost__item Помощь 8 педагогов-тьюторов по&nbsp;предметам, обратная связь 5&nbsp;дней&nbsp;в&nbsp;неделю
            .cost__item Входное и ежемесячное тестирование
            .cost__item Прикрепление к школе-партнёру
            .cost__item Прохождение аттестации
            .cost__item!= '<span>Бонус:</span> бесплатные занятия летом 2025'
            .cost__item!= '<span>Бонус:</span> Набор полезных материалов для учёбы и развития ребёнка'
          a.cost__button.btn-orange(href='#') Начать обучение
        .info__area
          .info__title Нужна консультация?
          .info__text Задавайте любые вопросы, поможем подобрать занятия
          picture.info__decor
            source(srcset=staticImg(`info/info-decor-2_mob.svg`) media="(max-width: 743px)")
            source(srcset=staticImg(`info/info-decor-2_tablet.svg`) media="(max-width: 1359px)")
            if mod === 'short'
              img.info__decor-image(src=staticImg(`info/info-decor-short-2.svg`) alt='')
            else
              img.info__decor-image(src=staticImg(`info/info-decor-2.svg`) alt='')
          .info__buttons
            a.info__btn.info__btn_order.btn-orange(href='#modal-order-new' data-fancybox data-options='{"touch": false}') Оставить заявку
            a.info__btn.info__btn_wp.btn-blue(href='https://api.whatsapp.com/send/?phone=79182293194&text&type=phone_number&app_absent=0' target='_blank') Связаться в WhatsApp
        .info__capital
          .info__title Вы можете оплатить обучение материнским капиталом, а также получить налоговый вычет.
          .info__text
            span Оплачивайте обучение материнским&nbsp;капиталом.
            span Поможем со списком документов и&nbsp;остальными вопросами
          picture.info__capital-decor
            source(srcset=staticImg(`info/info-decor-1_mob.svg`) media="(max-width: 743px)")
            source(srcset=staticImg(`info/info-decor-1_tablet.svg`) media="(max-width: 1359px)")
            if mod === 'short'
              img.info__capital-decor-image(src=staticImg(`info/info-decor-short-1.svg`) alt='')
            else
              img.info__capital-decor-image(src=staticImg(`info/info-decor-1.svg`) alt='')
          a.info__btn.info__btn_order.btn-orange(href='https://api.whatsapp.com/send/?phone=79182293194&text&type=phone_number&app_absent=0' target='_blank') Перейти к оформлению

