-
  const informationList = [
    'Основные сведения',
    'Структура и органы управления образовательной организацией',
    'Документы',
    'Образование',
    'Руководство',
    'Педагогический состав',
    'Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда',
    'Платные образовательные услуги',
    'Финансово-хозяйственная деятельность',
    'Вакантные места для приема (перевода) обучающихся',
    'Стипендии и меры поддержки обучающихся',
    'Организация питания в образовательной организации',
  ]

.information
  .information__cont.cont
    .information__wrap
      .information__sidebar
        .information__list
          each item, index in informationList
            .information__item
              if index === 9
                .information__button(data-information-accordion)= item
                .information__accordion-box
                  button.information__btn(data-information-button-id=`${index}-1`) Раздел 1
                  button.information__btn(data-information-button-id=`${index}-2`) Раздел 2
                  button.information__btn(data-information-button-id=`${index}-3`) Раздел 3
              else
                button.information__button(data-information-button-id=index)= item
      .information__area
        each item, index in ['0','1','2','3','4','5','6','7','8','9-1','9-2','9-3','10','11']
          .information__box(data-information-box-id=item class=index === 0 ? 'active' : false)
            h2 Основные сведения
            h4 Полное наименование организации:
            p ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ОНЛАЙН-ШКОЛА «ТОЧКА ЗНАНИЙ».
            br
            h4 Сокращенное наименование организации:
            p ООО «ТОЧКА ЗНАНИЙ».
            br
            h4 Дата создания организации:
            p 28.03.2023.
            br
            h4 Место нахождения:
            p 350016, Краснодарский край, г.о. город Краснодар, г. Краснодар, ул. Зиповская, д. 45, помещ. 24, ком. 2.
            br
            h4 Место осуществления образовательной деятельности, сведения о которых не включаются в соответствующую запись в реестре лицензий:
            p не применимо.
            br
            p
              | Абзацный текст
              |
              a(href='#') Ссылка
            br
            br
            table
              tr
                th Вид
                th Пример
                th Способы победить
              tr
                td Контролируемые
                td Скроллинг соцсетей, просмотр роликов
                td Поставить лимиты в смартфоне для соцсетей, на которые уходит слишком много времени
              tr
                td Неконтролируемые
                td Пробки на дорогах, опоздания репетитора, друзей
                td Совсем избежать форс-мажора нельзя, но можно заготовить на такие случаи список полезных дел: почистить фотоальбом, выучить стихотворение, повторить сложную тему
              tr
                td Одушевлённые
                td Сплетни, разговоры с надоедливыми одноклассниками, многочасовые разговоры по телефону с родственниками, общение с гостями, которые не хотят уходить
                td
                  | Выстраиваем границы. В начале разговора предупреждаем, что
                  | спешим и на разговор есть не
                  | больше 10 минут. В присутствии
                  | человека ставим таймер на это
                  | время. Когда таймер звонит,
                  | прощаемся и спешим продолжать дела по плану.
                  br
                  br
                  | Гостей можно звать до
                  | фиксированного времени, например: приходи играть в доту с 19:00 до 21:00. А дальше — та же схема с таймером.
              tr
                td Неодушевлённые
                td Компьютерные игры, реалити-шоу, сериалы
                td Ставим после таких занятий в план встречу или созвон с другом, чтобы не было повода залипать дольше, чем разрешили себе
