-
  const itTileList = [
    {
      title: 'Курс по графическому дизайну в Figma (в записи)',
      tag: '5-11 класс',
      text: 'Научиться работать с цветом, шрифтами и иллюстрациями. Освоить создание логотипов, дизайн страниц сайта и мобильных приложений. Создать работы на уровне действующих дизайнеров.'
    },
    {
      title: 'Курс по программированию в Scratch',
      tag: '1-6 класс',
      text: 'Идеально для тех, кто хочет познакомиться с программированием, понять основные идеи и принципы. Легко поймёте логику кода, создадите мультфильмы, интерактивные истории и мини-игры.'
    },
    {
      title: 'Курс по программированию на языке Python. Ступень 1',
      tag: '5-11 класс',
      text: 'Один из самых популярных языков программирования на сегодняшний день, на котором написаны Netflix, World of Tanks, The Sims 4, Dropbox, Pinterest и другие известные проекты.'
    },
    {
      title: 'Курс по программированию на языке Python. Ступень 2',
      tag: '5-11 класс',
      text: 'Один из самых популярных языков программирования на сегодняшний день, на котором написаны Netflix, World of Tanks, The Sims 4, Dropbox, Pinterest и другие известные проекты.'
    },
    {
      title: 'Курс по программирование в Minecraft',
      tag: '3-9 класс',
      text: 'Один из самых популярных языков программирования на сегодняшний день, на котором написаны Netflix, World of Tanks, The Sims 4, Dropbox, Pinterest и другие известные проекты.'
    },
    {
      title: 'Создание игр в Roblox. Ступень 1',
      tag: '3-9 класс',
      text: 'Вперёд к созданию 3D-игр! Придумайте персонажа, создайте для него игровой мир и задайте анимацию. Взаимодействуйте с другими игроками, NPC и проходите квесты.'
    },
    {
      title: 'Создание игр в Roblox. Ступень 2',
      tag: '3-9 класс',
      text: 'Вперёд к созданию 3D-игр! Придумайте персонажа, создайте для него игровой мир и задайте анимацию. Взаимодействуйте с другими игроками, NPC и проходите квесты.'
    },
    {
      title: 'Курс по компьютерной грамотности. Ступень 1',
      tag: '1-9 класс',
      text: 'Научиться делать то, чего не умеют 98% пользователей компьютера. От поиска информации, создания документов и презентаций до основ кибербезопасности и работы с нейросетями.'
    },
    {
      title: 'Компьютерная грамотность. Ступень 2',
      tag: '2-9 класс',
      text: 'Научиться делать то, чего не умеют 98% пользователей компьютера. От поиска информации, создания документов и презентаций до основ кибербезопасности и работы с нейросетями.'
    },
    {
      title: 'Курс по созданию сайтов',
      tag: '5-11 класс',
      text: 'Пройти путь от создания простой веб-страницы до наполнения сайта анимацией и придания стиля. Освоить модули, на которых «держится» работа сайтов.'
    },
  ]

.it-tile#it-tile
  .cont
    .it-tile__caption Выберите курс
    .it-tile__list
      each item, index in itTileList
        a.it-tile__item(href="#")
          picture.it-tile__picture
            source(srcset=staticImg(`it-tile/${index+1}_mob.webp`) media="(max-width: 1359px)")
            img.it-tile__image(src=staticImg(`it-tile/${index+1}.webp`) alt='' loading="lazy")
          .it-tile__top
            .it-tile__title= item.title
            .it-tile__tag= item.tag
          .it-tile__area
            .it-tile__author
              picture.it-tile__author-picture
                source(srcset=staticImg(`it-tile/author_mob.png`) media="(max-width: 1359px)")
                img.it-tile__author-image(src=staticImg('it-tile/author.png') alt='' loading="lazy")
              .it-tile__author-inner
                .it-tile__author-name Иванов Иван
                .it-tile__author-descr Разработал более 50 курсов и провел более 1000 занятий по программированию. Педагогический стаж 8 лет.
            .it-tile__box
              p.it-tile__text= item.text
              .it-tile__video-box
                span.it-tile__note Посмотрите примеры работ учеников
                .it-tile__video-wrap(data-fancybox data-src='https://tochka-school.ru/storage/app/media/Video_vse_o_kurse/IT_Kursi/Gurtovcev_Python_1_stupen.mp4')
                  video.it-tile__video(src='https://tochka-school.ru/storage/app/media/Video_vse_o_kurse/IT_Kursi/Gurtovcev_Python_1_stupen.mp4' preload="metadata")
              .it-tile__button.btn-orange.btn-orange_arrow Подробнее о курсе
