-
  const itTileList = [
    {
      title: 'Курс по графическому дизайну в Figma (в записи)',
      tag: '5-11 класс',
      text: 'Освоим создание логотипов, веб-страниц и мобильных интерфейсов. Научимся работать с цветами, шрифтами и иллюстрациями. Разовьём визуальное мышление и эстетическое восприятие через практику дизайн-проектов.'
    },
    {
      title: 'Курс по программированию в Scratch',
      tag: '1-6 класс',
      text: 'Курс Scratch для начинающих. Научим создавать игры, анимации и интерактивные истории. Освоим переменные, условия, циклы и алгоритмы. Создадим персонажей и «оживим» их. Scratch помогает легко понять логику кода. В итоге каждый сделает свои проекты: от мультфильмов до игр.'
    },
    {
      title: 'Курс по программированию на языке Python. Ступень 1',
      tag: '5-11 класс',
      text: 'Освоим основы программирования на Python. 90% практики. Изучим переменные, условия, циклы и функции, создавая простые игры и программы. Позже перейдём к сложным темам: графика и алгоритмы. Игровой подход сделает обучение увлекательным, а знания — полезными для будущего.'
    },
    {
      title: 'Курс по программированию на языке Python. Ступень 2',
      tag: '5-11 класс',
      text: 'Курс для тех, кто уже знаком с Python. Мы углубим знания и навыки, изучая более сложные темы, такие как работа с файлами, обработка исключений, создание модулей. Освоим основы объектно-ориентированного программирования. Вы сможете создавать более сложные приложения и игры, работать с данными и графикой.'
    },
    {
      title: 'Курс по программирование в Minecraft',
      tag: '3-9 класс',
      text: 'Изучим основы кода через любимую игру: переменные, условия, циклы и алгоритмы. Научимся создавать мини-игры, собственные миры и игровые механики. Развиваем логическое мышление, креативность и уверенность с первых шагов в программировании.'
    },
    {
      title: 'Создание игр в Roblox. Ступень 1',
      tag: '3-9 класс',
      text: 'Научим создавать 3D-игры на популярной платформе “Roblox”: моделировать персонажей, ландшафты и игровые механики. Освоим анимацию NPC и геймдизайн. Каждый разработает свой мир с квестами и multiplayer-режимом. Практика 3D-моделирования и программирования.'
    },
    {
      title: 'Создание игр в Roblox. Ступень 2',
      tag: '3-9 класс',
      text: 'Вас ждёт углубленное изучение языка программирования Lua и более сложных инструментов Roblox Studio. Вы научитесь создавать интерактивные и многопользовательские игры, разрабатывать сложные игровые механики, использовать событийную модель. В результате прохождения курса Вы сможете публиковать собственные проекты и зарабатывать на них.'
    },
    {
      title: 'Курс по компьютерной грамотности. Ступень 1',
      tag: '1-9 класс',
      text: 'Научим уверенно работать с компьютером: создавать документы, таблицы и презентации. Освоим поиск информации в интернете и основы кибербезопасности. Практические задания (доклады, презентации, работа с нейросетями) помогут закрепить навыки.'
    },
    {
      title: 'Компьютерная грамотность. Ступень 2',
      tag: '2-9 класс',
      text: 'Сфокусируемся на углубленном освоении цифровых инструментов: от профессиональной работы с Google-инструментами до использования ИИ в творчестве и анализе данных. Курс сочетает практику, креативность и современные технологии для подготовки к реальным задачам в учебе, творчестве и будущей карьере.'
    },
    {
      title: 'Курс по созданию сайтов',
      tag: '5-11 класс',
      text: 'Освоим основы HTML, CSS и JavaScript. Создадим первые веб-страницы, научимся стилизовать их и добавлять анимации. Изучим интерактивные элементы на JavaScript. Творческий подход поможет сделать страницы красивыми и "живыми".'
    },
  ]

.it-tile#it-tile
  .cont
    .it-tile__caption Выберите курс
    .it-tile__list
      each item, index in itTileList
        .it-tile__item
          picture.it-tile__picture
            source(srcset=staticImg(`it-tile/${index+1}_mob.webp`) media="(max-width: 1359px)")
            img.it-tile__image(src=staticImg(`it-tile/${index+1}.webp`) alt='' loading="lazy")
          a.it-tile__top(href="#")
            .it-tile__title= item.title
            .it-tile__tag= item.tag
          .it-tile__area
            .it-tile__author
              picture.it-tile__author-picture
                source(srcset=staticImg(`it-tile/author_mob.png`) media="(max-width: 1359px)")
                img.it-tile__author-image(src=staticImg('it-tile/author.png') alt='' loading="lazy")
              .it-tile__author-inner
                .it-tile__author-name Иванов Иван
                .it-tile__author-descr Разработал более 50 курсов и провел более 1000 занятий по программированию. Педагогический стаж 8 лет.
                a.it-tile__more(href='#') Показать полностью
            .it-tile__box
              p.it-tile__text= item.text
              .it-tile__video-box
                span.it-tile__note Посмотрите примеры работ учеников
                .it-tile__video-wrap(data-fancybox data-src='https://tochka-school.ru/storage/app/media/Video_vse_o_kurse/IT_Kursi/Gurtovcev_Python_1_stupen.mp4')
                  video.it-tile__video(src='https://tochka-school.ru/storage/app/media/Video_vse_o_kurse/IT_Kursi/Gurtovcev_Python_1_stupen.mp4' preload="metadata")
              a.it-tile__button.btn-orange.btn-orange_arrow(href="#") Подробнее о курсе
