-
  const itWhyList = [
    {
      title: 'Открыть мир программирования',
      text: 'Написать первые строки кода и создать простые программы. Увидеть и пощупать, как работает цифровой мир на практике.'
    },
    {
      title: 'Развить логику и критическое мышление',
      text: 'Путём нахождения и исправления своих ошибок в программном коде, поиска информации и понимания принципов работы алгоритмов.'
    },
    {
      title: 'Превратить игры из пожирателей времени в&nbsp;друзей',
      text: 'Создавать свои игры куда полезнее, чем играть в созданные кем-то. Это шанс стать на голову выше сверстников и понять, как работают игры «изнутри».'
    },
    {
      title: 'Проявить смекалку и творческий порыв',
      text: 'Создать игровой мир, раскрасить его, заселить персонажами и задать им правила взаимодействия. Обернуть идеи в собственный дизайн'
    },
  ]

.it-why
  .cont
    h2.it-why__caption Сделайте первый шаг в&nbsp;цифровой мир, чтобы:
    ul.it-why__list
      each item, index in itWhyList
        li.it-why__item
          img.it-why__icon(class=`it-why__icon_${index+1}` src=staticImg(`it-why/it-why-${index+1}.webp`) alt='' loading="lazy")
          .it-why__title!= item.title
          .it-why__text= item.text

