.langs-how
  .cont
    h2.langs-how__caption Как проходит обучение
    .langs-how__wrap
      .langs-how__left
        img.langs-how__decor(src=staticImg('langs-how/decor.svg') alt='')
        .langs-how__boxex
          .langs-how__box
            .langs-how__title На уроке
            ul.langs-how__list
              each item in ['учитель понятно разберёт тему','ответит на все вопросы до последнего','увлечёт и зарядит мотивацией к открытиям']
                li.langs-how__item= item
          .langs-how__box
            .langs-how__title После урока
            ul.langs-how__list
              each item in ['тьютор проверит задание','объяснит непонятные моменты','укажет на ошибки и поможет их исправить','добьётся понимания каждой темы']
                li.langs-how__item= item
      .langs-how__right
        .langs-how__title Тьютор — опытный педагог, который помогает ученику изучать язык.
        .langs-how__text Вне урока у ребёнка есть помощник, к которому всегда можно обратиться, задать неограниченное количество вопросов, получить обратную связь. 5 дней в неделю. 1 на 1.
        .langs-how__circle.langs-how__circle_1.circle-move-1(class=`circle-animation-1` data-animate-on-scroll)
        .langs-how__circle.langs-how__circle_2.circle-move-2(class=`circle-animation-2` data-animate-on-scroll)
        picture.langs-how__picture
          source(srcset=staticImg(`langs-how/hands_mob.svg`) media="(max-width: 743px)")
          source(srcset=staticImg(`langs-how/hands_tablet.svg`) media="(max-width: 1359px)")
          img.langs-how__image(src=staticImg('langs-how/hands.svg') alt='')
