.offer-progress
  .cont
    h2.offer-progress__caption За неделю можно сделать очень много!
    .offer-progress__list
      .offer-progress__item.offer-progress__item_1
        img.offer-progress__icon(src=staticImg('offer-progress/icon-1.svg') alt='')
        .offer-progress__title Закрыть «пробелы» по старым темам
      .offer-progress__item.offer-progress__item_2
        img.offer-progress__icon(src=staticImg('offer-progress/icon-2.svg') alt='')
        .offer-progress__title Вернуть интерес и почувствовать удовольствие от учёбы
        picture.offer-progress__picture
          source(srcset=staticImg('offer-progress/decor-2_mob.svg') media="(max-width: 1359px)")
          img.offer-progress__image(src=staticImg('offer-progress/decor-2.svg') alt='')
      .offer-progress__item.offer-progress__item_3
      .offer-progress__item.offer-progress__item_4
        img.offer-progress__icon(src=staticImg('offer-progress/icon-4.svg') alt='')
        .offer-progress__title Задать вопросы и наконец-то понять то, что давалось с&nbsp;трудом
      .offer-progress__item.offer-progress__item_5
        img.offer-progress__icon(src=staticImg('offer-progress/icon-5.svg') alt='')
        .offer-progress__title Перестать «буксовать» и&nbsp;повысить уровень знаний
      .offer-progress__item.offer-progress__item_6
        .offer-progress__title Попробовать новые&nbsp;направления
