-
  const preKHowArea = [
    {
      title: 'Игровые методики',
      text: 'Разминки с весёлыми персонажами, задания с движением и картинками помогают детям “включаться” и удерживать внимание.'
    },
    {
      title: 'Короткие и динамичные уроки',
      text: 'Ребёнок не устаёт, ему интересно. С радостью ждёт следующего занятия.'
    },
    {
      title: 'С прицелом на школу',
      text: 'Выполнение заданий курса поможет подготовиться к школьным заданиям 1 класса.'
    },
    {
      title: '',
      text: ''
    },
    {
      title: 'Тьютор — дополнительный учитель, который занимается с&nbsp;ребёнком между уроками.',
      text: 'Вне уроков у ребёнка есть помощник, к которому всегда можно обратиться, задать неограниченное количество вопросов, получить персональную обратную связь. 5 дней в неделю.'
    },
  ]

.pre-k-how
  .cont
    h2.pre-k-how__caption Как проходят занятия
    .pre-k-how__area
      each box, index in preKHowArea
        .pre-k-how__box(class=`pre-k-how__box_${index+1}`)
          picture.pre-k-how__picture
            source(srcset=staticImg(`pre-k-how/decor-${index+1}_mob.svg`) media="(max-width: 743px)")
            source(srcset=staticImg(`pre-k-how/decor-${index+1}_tablet.svg`) media="(max-width: 1359px)")
            img.pre-k-how__image(src=staticImg(`pre-k-how/decor-${index+1}.svg`) alt='')
          .pre-k-how__inner
            if index === 3
              .pre-k-how__title На уроке
              ul.pre-k-how__list
                each item in ['учитель понятно объяснит материал','ответит на все вопросы до последнего','увлечёт с первых минут']
                  li.pre-k-how__item= item
              .pre-k-how__title После урока
              ul.pre-k-how__list
                each item in ['тьютор проверит задание','объяснит непонятные моменты','бережно укажет на ошибки и поможет их исправить','добьётся понимания каждой темы']
                  li.pre-k-how__item= item
            else
              .pre-k-how__title!= box.title
              .pre-k-how__text!= box.text
