mixin pre-about(mod)
  .pre-about(class = mod ? `pre-about_${mod}` : false)
    .pre-about__cont.cont
      h2.pre-about__caption.pre-caption В чём суть?
      .pre-about__area
        .pre-about__box
          .pre-about__inner
            p.pre-about__text Уже 4-й год подряд мы заранее открываем предзапись на занятия в следующем учебном году.
            p.pre-about__text.
              Так мы можем спрогнозировать нагрузку на учителей и тьюторов, найти действительно хороших педагогов
              и сохранить качество обучения на высоком уровне.
        .pre-about__author
          each item in [1,2,3]
            .pre-about__decor(class=`pre-about__decor_${item}`)
          .pre-about__video-wrap(data-element='pre-about-video-wrap')
            video.pre-about__video(src=`${pathStatics}/files/preregistration-video.webm` loop=true controls=false pip="false"
              data-element='pre-about-video' muted playsinline autoplay)
            .pre-about__sound
              svg(width='17' height='15' viewbox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M7.91739 0.867752C8.08993 0.93929 8.23738 1.06038 8.34111 1.21571C8.44483 1.37105 8.50017 1.55365 8.50012 1.74043V13.0739C8.50008 13.2607 8.44467 13.4433 8.34089 13.5985C8.23711 13.7538 8.08962 13.8748 7.91706 13.9463C7.74451 14.0178 7.55465 14.0365 7.37147 14C7.18828 13.9636 7.02002 13.8737 6.88793 13.7417L3.38683 10.2406H0.944458C0.693972 10.2406 0.453746 10.141 0.276625 9.96393C0.0995051 9.78681 0 9.54658 0 9.2961V5.51826C0 5.26778 0.0995051 5.02755 0.276625 4.85043C0.453746 4.67331 0.693972 4.57381 0.944458 4.57381H3.38683L6.88793 1.0727C7.02001 0.940539 7.18832 0.850524 7.37157 0.814042C7.55482 0.777561 7.74477 0.796252 7.91739 0.867752ZM12.8985 0.728917C13.0756 0.551858 13.3158 0.452393 13.5662 0.452393C13.8166 0.452393 14.0568 0.551858 14.2339 0.728917C15.9425 2.4365 17.0002 4.79953 17.0002 7.40624C17.0002 10.0129 15.9425 12.3769 14.2339 14.0854C14.0558 14.2575 13.8172 14.3527 13.5696 14.3505C13.322 14.3484 13.0851 14.249 12.91 14.0739C12.7349 13.8988 12.6355 13.6619 12.6334 13.4143C12.6312 13.1667 12.7264 12.9281 12.8985 12.75C13.6013 12.0492 14.1586 11.2165 14.5384 10.2995C14.9181 9.38261 15.1129 8.39964 15.1113 7.40718C15.1113 5.31993 14.267 3.4329 12.8985 2.06438C12.7214 1.88727 12.6219 1.64709 12.6219 1.39665C12.6219 1.14621 12.7214 0.906029 12.8985 0.728917ZM10.2266 3.39984C10.3143 3.31203 10.4185 3.24237 10.5331 3.19484C10.6478 3.14731 10.7707 3.12285 10.8948 3.12285C11.0189 3.12285 11.1418 3.14731 11.2565 3.19484C11.3711 3.24237 11.4753 3.31203 11.563 3.39984C12.0899 3.92559 12.5077 4.55026 12.7925 5.23796C13.0773 5.92566 13.2234 6.66285 13.2224 7.40718C13.2233 8.1515 13.0772 8.88868 12.7924 9.57637C12.5077 10.2641 12.0899 10.8887 11.563 11.4145C11.3858 11.5917 11.1454 11.6913 10.8948 11.6913C10.6442 11.6913 10.4038 11.5917 10.2266 11.4145C10.0494 11.2373 9.94981 10.9969 9.94981 10.7463C9.94981 10.4957 10.0494 10.2553 10.2266 10.0781C10.5781 9.72788 10.8568 9.31159 11.0468 8.8532C11.2368 8.39481 11.3342 7.90337 11.3335 7.40718C11.3343 6.91098 11.2369 6.41953 11.0469 5.96113C10.8569 5.50273 10.5781 5.08645 10.2266 4.73625C10.1388 4.64854 10.0691 4.54437 10.0216 4.42972C9.97406 4.31506 9.94959 4.19216 9.94959 4.06805C9.94959 3.94393 9.97406 3.82103 10.0216 3.70638C10.0691 3.59172 10.1388 3.48756 10.2266 3.39984Z')
            .pre-about__time(data-element='pre-about-time') 00:00
            .pre-about__smile
          .pre-about__info
            .pre-about__note Основатель онлайн-школы «Точка Знаний»
            .pre-about__name Андрей Александрович Шелудько
        .pre-about__info.pre-about__info_mob
          .pre-about__note Основатель онлайн-школы «Точка Знаний»
          .pre-about__name Андрей Александрович Шелудько
