mixin quiz-so-slide(id,title,type,list=[],texts=[], length, last)
  .quiz-so-slide(data-element="quiz-so-slide")
    .quiz-so-slide__wrap
      .quiz-so-slide__circle.quiz-so-slide__circle_1
      .quiz-so-slide__circle.quiz-so-slide__circle_2
      .quiz-so-slide__area
        .quiz-so-slide__tag!= `Вопрос №${id}`
        .quiz-so-slide__inner
          if type === 'checkbox'
            input.quiz-so-slide__hidden-checkbox(type='hidden' name=`slide-${id}`)
          .quiz-so-slide__caption!= title
          if last
            .quiz-so-slide__form
              input.quiz-so-slide__form-input.quiz-so-slide__form-input_name.input-white(name='name' placeholder='Имя родителя' type='text')
              input.quiz-so-slide__form-input.input-white(name='phone' placeholder='Номер телефона' type='tel' required data-element='input-phone-intl')
              input(name='tel' type='hidden' required data-element='input-phone-hidden')
            .quiz-so-slide__line
              label.quiz-so-slide__checkbox
                input.quiz-so-slide__checkbox-input(name='policy' type='checkbox')
                .quiz-so-slide__checkbox-view
                .quiz-so-slide__checkbox-text
                  | Даю
                  |
                  a(href='https://tochka-school.ru/storage/app/media/Dokumenti/Soglasie_na_obrabotku_personalnih_dannih_OOO.pdf'
                    target='_blank') Согласие
                  |
                  | на обработку персональных данных в соответствии с
                  |
                  a(href='https://tochka-school.ru/storage/app/media/Dokumenti/Politika_obrabotki_personalnih_dannih_OOO.pdf'
                    target='_blank') Политикой.
              label.quiz-so-slide__checkbox
                input.quiz-so-slide__checkbox-input(name='news' type='checkbox')
                .quiz-so-slide__checkbox-view
                .quiz-so-slide__checkbox-text
                  | Согласен на
                  |
                  a(href='https://tochka-school.ru/storage/app/media/Dokumenti/Soglasie_na_reklamnuyu_rassilku_OOO.pdf'
                    target='_blank') получение рекламы
          else
            .quiz-so-slide__list
              each item in list
                label.quiz-so-slide__label
                  if type === "radio"
                    input.quiz-so-slide__input(type=type name=`slide-${id}` value=item)
                    svg.quiz-so-slide__view(width='15' height='15' viewbox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                      circle(cx='7.5' cy='7.5' r='7' stroke='#F37E60')
                      circle.active(cx='7.5' cy='7.5' r='3.5' fill='#F37E60')
                  else
                    if (item === 'Всё в порядке')
                      input.quiz-so-slide__input(type=type value=item data-single-check)
                    else
                      input.quiz-so-slide__input(type=type value=item)
                    svg.quiz-so-slide__view(width='15' height='15' viewbox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                      rect(x='0.5' y='0.5' width='14' height='14' rx='1.5' stroke='#F37E60')
                      path.active(d='M11.7909 4.22597C11.5124 3.92458 11.0602 3.92477 10.7814 4.22597L6.23808 9.13702L4.21877 6.95437C3.93994 6.65298 3.48796 6.65298 3.20912 6.95437C2.93029 7.25576 2.93029 7.74431 3.20912 8.0457L5.73315 10.7739C5.87248 10.9245 6.05518 11 6.23789 11C6.4206 11 6.60347 10.9247 6.7428 10.7739L11.7909 5.31727C12.0697 5.01609 12.0697 4.52734 11.7909 4.22597Z' fill='#F37E60')
                  .quiz-so-slide__name= item
          .quiz-so-slide__bottom
            .quiz-so-slide__counter
              | Шаг:
              |
              span.quiz-so-slide__current= id
              |
              | из
              |
              span.quiz-so-slide__length= length
            .quiz-so-slide__loader-mob
              .quiz-so-slide__loader-mob-value 15%
              svg(width='45' height='45' viewbox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg')
                circle(cx='22.5' cy='22.5' r='21.5' stroke='#7A7A7A' stroke-opacity='0.1' stroke-width='2')
                circle.quiz-so-slide__loader-mob-progress(cx='22.5' cy='22.5' r='21.5' stroke='#f37e60' stroke-width='2')
            .quiz-so-slide__buttons
              button.quiz-so-slide__back(type="button" data-element="quiz-so-slide-back")
              if last
                button.quiz-so-slide__next.quiz-so-slide__next_submit.btn-orange.btn-orange_arrow(type="submit" data-element="quiz-so-slide-next") Далее
              else
                button.quiz-so-slide__next.btn-orange.btn-orange_arrow(type="button" data-element="quiz-so-slide-next") Далее
          .quiz-so-slide__loader
            .quiz-so-slide__loader-fill
      .quiz-so-slide__sidebar
        .quiz-so-slide__sidebar-top
          img.quiz-so-slide__sidebar-image(src=staticImg('quiz-so-slide/consultant.png') alt='')
          .quiz-so-slide__sidebar-inner
            .quiz-so-slide__sidebar-name Ирина Белякова
            .quiz-so-slide__sidebar-note онлайн-консультант
        .quiz-so-slide__sidebar-box
          each text in texts
            .quiz-so-slide__sidebar-text!= text
        .quiz-so-slide__circle.quiz-so-slide__circle_3
        .quiz-so-slide__circle.quiz-so-slide__circle_4
        .quiz-so-slide__circle.quiz-so-slide__circle_5
