-
  const reasonsInfoList = [
    { text: "С вами ребёнок заинтересовался предметом прямо с первого занятия.", circles: [] },
    { text: "Вы вернули любовь к математике.", circles: [] },
    { text: "Сын стал сам выполнять домашние задания, без напоминаний.", circles: [] },
    { text: "Я спокойна насчет сдачи ВПР.", circles: [] },
    { text: "Не нужно тратить время на дорогу, онлайн — наш вариант.", circles: [] },
    { text: "Теперь намного легче учиться, потому что вы подтянули «базу».", circles: [] },
    { text: "Даже если не попал на урок, всегда можно посмотреть в записи. Удобно.", circles: [] },
    { text: "Занятия не отвлекают от кружков и секций.", circles: [] },
    { text: "Ушёл страх уроков математики в школе. Ура!", circles: [] },
    { text: "Можно срочно подготовиться к контрольной и самостоятельной — все темы уже есть в записи.", circles: [] },
    { text: "Тьютор объясняет тему и помогает исправить ошибки столько, сколько нужно. Очень здорово! Можно в любой момент обратиться.", circles: [] },
    { text: "Теперь домашка занимает в 2 раза меньше времени.", circles: [] },
    { text: "Даже со школьными учителями отношения стали лучше!", circles: [] },
    { text: "Можно попробовать обучение в течение 1 недели, а потом записаться на курс.", circles: [] },
    { text: "Сдали ЕГЭ на высокий балл, как и хотели. Идём поступать!)", circles: [] },
    { text: "Теперь домашнее задание не на мне, а на вас. Спасибо!", circles: [] },
    { text: "Как приятно видеть в дневнике пятёрки!", circles: [] },
    { text: "Все темы и задания к ним удобно собраны в личном кабинете. Не нужно искать непонятно где.", circles: [] },
    { text: "Пропала потребность объяснять тему самому, искать в интернете или смотреть в решебнике.", circles: [] },
    { text: "Дочь стала увереннее, стала чаще выходить к доске и тянуть руку.", circles: [] },
    { text: "Вылезли из троек сначала на четвёрки, а теперь и пятёрки появляются!", circles: [] },
    { text: "Спасибо, что подробно разложили, к какому результату на ОГЭ мы идём, как именно повысим стартовый результат и почему.", circles: [] },
    { text: "Тьютор супер! Отправил задание на проверку, тут же получил выкладку по всем ошибкам, как их исправить. В любое время отвечает.", circles: [] },
    { text: "Вижу, как проходят занятия, как приходят напоминания об уроках. Очень хорошо, что каждый месяц у вас тестирование, чтобы понимать, двигаемся мы к цели или нет.", circles: [] },
    { text: "Можно заниматься прямо в дороге и не отставать от школы во время поездок на соревнования или когда заболели.", circles: [] },
    { text: "Как приятно сказать себе: «Я&nbsp;горжусь своим ребёнком».", circles: [] },
  ]

.reasons-info
  .cont
    .reasons-info__area
      img.reasons-info__decor.reasons-info__decor_1(src=staticImg('reasons-info/decor-1.svg') alt='')
      img.reasons-info__decor.reasons-info__decor_2(src=staticImg('reasons-info/decor-2.svg') alt='')
      each circle in [1,2,3,4,5,6]
        .reasons-info__circle(class=`reasons-info__circle_${circle}`)
      .reasons-info__list
        each item, index in reasonsInfoList
          .reasons-info__item(class=`reasons-info__item_${index+1}`)
            .reasons-info__number= index+1
            .reasons-info__text!= item.text
            each circle, index in item.circles
              .reasons-info__item-circle(class=`reasons-info__item-circle_${index+1}`)
