-
  const reasonsCircle = [
    {
      text: 'С вами ребёнок заинтересовался предметом прямо с первого занятия.',
      color: '#F37E60'
    },
    {
      text: 'Вы вернули любовь к математике.',
      color: '#6683C2'
    },
    {
      text: 'Сын стал сам выполнять домашние задания, без напоминаний.',
      color: '#F1C35B'
    },
    {
      text: 'Я спокойна насчет сдачи ВПР.',
      color: '#68CCEA'
    },
    {
      text: 'Не нужно тратить время на дорогу, онлайн — наш вариант.',
      color: '#7FCBB4'
    },
    {
      text: 'Занятия не отвлекают от кружков и секций.',
      color: '#F37E60'
    },
    {
      text: 'Можно срочно подготовиться к контрольной и самостоятельной — все темы уже есть в записи.',
      color: '#6683C2'
    },
    {
      text: 'Даже если не попал на урок, всегда можно посмотреть в записи. Удобно.',
      color: '#F1C35B'
    },
    {
      text: 'Теперь намного легче учиться, потому что вы подтянули «базу».',
      color: '#68CCEA'
    },
    {
      text: 'Тьютор объясняет тему и помогает исправить ошибки столько, сколько нужно. Очень здорово! Можно в любой момент обратиться.',
      color: '#7FCBB4'
    },
    {
      text: 'Ушёл страх уроков математики в школе. Ура!',
      color: '#F37E60'
    },
    {
      text: 'Теперь домашка занимает в 2 раза меньше времени.',
      color: '#6683C2'
    },
    {
      text: 'Даже со школьными учителями отношения стали лучше!',
      color: '#F1C35B'
    },
    {
      text: 'Можно попробовать обучение в течение 1 недели, а потом записаться на курс.',
      color: '#68CCEA'
    },
    {
      text: 'Сдали ЕГЭ на высокий балл, как и хотели. Идём поступать!)',
      color: '#7FCBB4'
    },
    {
      text: 'Теперь домашнее задание не на мне, а на вас. Спасибо!',
      color: '#F37E60'
    },
    {
      text: 'Все темы и задания к ним удобно собраны в личном кабинете. Не нужно искать непонятно где.',
      color: '#6683C2'
    },
    {
      text: 'Пропала потребность объяснять тему самому, искать в интернете или смотреть в решебнике.',
      color: '#F1C35B'
    },
    {
      text: 'Как приятно видеть в дневнике пятёрки!',
      color: '#68CCEA'
    },
    {
      text: 'Дочь стала увереннее, стала чаще выходить к доске и тянуть руку.',
      color: '#7FCBB4'
    },
    {
      text: 'Спасибо, что подробно разложили, к какому результату на ОГЭ мы идём, как именно повысим стартовый результат и почему.',
      color: '#F37E60'
    },
    {
      text: 'Тьютор супер! Отправил задание на проверку, тут же получил выкладку по всем ошибкам, как их исправить. В любое время отвечает.',
      color: '#6683C2'
    },
    {
      text: 'Вылезли из троек сначала на четвёрки, а теперь и пятёрки появляются!',
      color: '#F1C35B'
    },
    {
      text: 'Вижу, как проходят занятия, как приходят напоминания об уроках. Очень хорошо, что каждый месяц у вас тестирование, чтобы понимать, двигаемся мы к цели или нет.',
      color: '#68CCEA'
    },
    {
      text: 'Можно заниматься прямо в дороге и не отставать от школы во время поездок на соревнования или когда заболели.',
      color: '#7FCBB4'
    },
    {
      text: 'Как приятно сказать себе: «Я горжусь своим ребёнком».',
      color: '#F37E60'
    },
    {
      text: '',
      color: '#5B6784'
    }
  ]

.reasons
  .cont
    .reasons__wrap
      .reasons__caption Родители назвали 26 причин обучения в «Точке Знаний»
      img.reasons__image(src=staticImg('reasons/decor.svg') alt='')
      .reasons__area
        .reasons__box
          .reasons__top
            .reasons__title Какая у Вас цель?
            .reasons__tag Свяжитесь с нами
          .reasons__text.
            Подберём занятия исходя из целей обучения и уровня подготовки ребёнка.
            Отправим пробные уроки, покажем, как проходят занятия и каких результатов Вам ждать.
        .reasons__buttons
          a.reasons__button.btn-green.btn-green_wp(href="#")
            span.desk Написать в WhatsApp
            span.mob Наш WhatsApp
          a.reasons__button.btn-light-blue.btn-light-blue_tg(href="#")
            span.desk Связаться в Telegram
            span.mob Наш Telegram
      .reasons__circles
        each item, index in reasonsCircle
          .reasons__circle(class=`reasons__circle_${index+1}` style=`background-color: ${item.color}`)
            .reasons__circle-blur(style=`background-color: ${item.color}`)
            if index < 26
              .reasons__circle-number= `№${index+1}`
            if item.text
              .reasons__circle-text= item.text
