-
  const resultList = [
    {
      title: 'Напишем пробный ОГЭ',
      text: 'Определим реальный уровень знаний и желаемый результат на экзамене'
    },
    {
      title: 'Устраним пробелы в знаниях',
      text: 'Займёмся повторением важных тем, т.к. ОГЭ проверяет знания за всю среднюю школу'
    },
    {
      title: 'Прорешаем необходимые типы заданий',
      text: 'Все задания первой части + задания 20 и 21 из второй части. Этого набора хватит, чтобы получить 4, но многие ученики получают и 5'
    },
    {
      title: 'Пишем «пробники» раз в месяц',
      text: 'Отследим прогресс в обучении и определим слабые места, чтобы вовремя подтянуть нужные темы'
    },
    {
      title: 'Узнаем, какие задания точно будут на экзамене',
      text: 'Будем точно знать, какие типы заданий будут в номерах 1–5 первой части, а каких точно не будет'
    },
    {
      title: 'Адаптируем программу под вашу цель',
      text: 'Можно заниматься в стандартном режиме: идти по программе с первого урока. Но также тьютор может составить персональный курс исходя из ситуации ученика'
    },
  ]

.result
  .cont
    h2.result__caption Как мы придем к&nbsp;результату
    .result__list
      each item, index in resultList
        .result__item
          img.result__image(src=staticImg(`result/result-decor-${index+1}.png`) alt='')
          .result__box
            .result__title= item.title
            .result__text= item.text
    .result__wrap
      .result__add
        .result__add-headline Дополнительно
        .result__add-list
          each item in ['тьютор пришлёт видеоразбор “пробника” при необходимости;','предоставим справочник со всеми формулами необходимыми для сдачи ОГЭ;','разберём структуру экзамена и предоставим инструкции о том, как вести себя перед и на экзамене (от входа в класс до заполнения бланка ответов).']
            .result__add-item= item
      .result__start
        .result__start-title Начать обучение можно в&nbsp;любое время
        .result__start-text Тьютор составит персональный курс и&nbsp;проконсультирует, как лучше построить подготовку.

