-
  const reviewsTileList = [
    'Все отзывы','Семейное обучение','1 класс','2 класс','3 класс','4 класс','5 класс','6 класс','7 класс',
    '8 класс','9 класс','10 класс','11 класс'
  ]

.reviews-tile
  .cont
    .reviews-tile__cage
      .reviews-tile__filter
        svg(width='29' height='29' viewbox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg')
          circle(cx='14.5' cy='14.5' r='14' fill='white')
          path(d='M8.41106 10.5872H15.0731C15.2812 11.5482 16.1371 12.2707 17.1595 12.2707C18.1818 12.2707 19.0377 11.5482 19.2458 10.5872H20.5817C20.7016 10.5872 20.8165 10.5396 20.9012 10.4548C20.9859 10.3701 21.0336 10.2552 21.0336 10.1353C21.0336 10.0155 20.9859 9.90058 20.9012 9.81585C20.8165 9.73111 20.7016 9.68351 20.5817 9.68351H19.2458C19.0377 8.72247 18.1818 8 17.1595 8C16.1371 8 15.2812 8.72247 15.0731 9.68351H8.41106C8.29122 9.68351 8.1763 9.73111 8.09157 9.81585C8.00683 9.90058 7.95923 10.0155 7.95923 10.1353C7.95923 10.2552 8.00683 10.3701 8.09157 10.4548C8.1763 10.5396 8.29122 10.5872 8.41106 10.5872ZM17.1595 8.90366C17.8387 8.90366 18.3911 9.45624 18.3911 10.1353C18.3911 10.8144 17.8386 11.367 17.1595 11.367C16.4804 11.367 15.9278 10.8144 15.9278 10.1353C15.9278 9.45624 16.4803 8.90366 17.1595 8.90366ZM20.5817 14.3256H13.9196C13.7116 13.3646 12.8557 12.6421 11.8333 12.6421C10.8109 12.6421 9.95507 13.3646 9.747 14.3256H8.41106C8.29122 14.3256 8.1763 14.3732 8.09157 14.4579C8.00683 14.5427 7.95923 14.6576 7.95923 14.7774C7.95923 14.8973 8.00683 15.0122 8.09157 15.0969C8.1763 15.1816 8.29122 15.2292 8.41106 15.2292H9.747C9.95507 16.1903 10.8109 16.9128 11.8333 16.9128C12.8557 16.9128 13.7116 16.1903 13.9196 15.2292H20.5817C20.7016 15.2292 20.8165 15.1816 20.9012 15.0969C20.9859 15.0122 21.0336 14.8973 21.0336 14.7774C21.0336 14.6576 20.9859 14.5427 20.9012 14.4579C20.8165 14.3732 20.7016 14.3256 20.5817 14.3256ZM11.8333 16.0091C11.1541 16.0091 10.6016 15.4565 10.6016 14.7774C10.6016 14.0983 11.1542 13.5457 11.8333 13.5457C12.5124 13.5457 13.065 14.0982 13.065 14.7774C13.065 15.4566 12.5125 16.0091 11.8333 16.0091ZM20.5817 18.9677H19.2458C19.0377 18.0066 18.1818 17.2842 17.1595 17.2842C16.1371 17.2842 15.2812 18.0066 15.0731 18.9677H8.41106C8.29122 18.9677 8.1763 19.0153 8.09157 19.1C8.00683 19.1847 7.95923 19.2997 7.95923 19.4195C7.95923 19.5393 8.00683 19.6543 8.09157 19.739C8.1763 19.8237 8.29122 19.8713 8.41106 19.8713H15.0731C15.2812 20.8324 16.1371 21.5548 17.1595 21.5548C18.1818 21.5548 19.0377 20.8324 19.2458 19.8713H20.5817C20.7016 19.8713 20.8165 19.8237 20.9012 19.739C20.9859 19.6543 21.0336 19.5393 21.0336 19.4195C21.0336 19.2997 20.9859 19.1847 20.9012 19.1C20.8165 19.0153 20.7016 18.9677 20.5817 18.9677ZM17.1595 20.6512C16.4803 20.6512 15.9278 20.0986 15.9278 19.4195C15.9278 18.7404 16.4804 18.1878 17.1595 18.1878C17.8386 18.1878 18.3911 18.7404 18.3911 19.4195C18.3911 20.0986 17.8387 20.6512 17.1595 20.6512Z' fill='#6683C2')
        .reviews-tile__filter-note Сортировка отзывов
      .reviews-tile__sidebar
        .reviews-tile__close
        .reviews-tile__title Сортировка отзывов
        .reviews-tile__list
          each item in reviewsTileList
            label.reviews-tile__label
              input.reviews-tile__input(type="radio" name="sort" value=item data-value="")
              .reviews-tile__input-view= item
      .reviews-tile__wrap
        .reviews-tile__cards
          each card in [1,2,3,4,5,6,7]
            .reviews-tile__card
              .reviews-tile__top
                img.reviews-tile__image(src=staticImg('course-cap/placeholder.png') alt='')
                .reviews-tile__line
                  .reviews-tile__author
                    .reviews-tile__name Пушкарева Анна
                    .reviews-tile__note Математика, 8 класс, г. Москва
                  .reviews-tile__rate
                    each item in ['#FFC107','#FFC107','#FFC107','#FFC107','#ededed']
                      svg(width='24' height='23' viewbox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M23.1796 8.41607C23.1053 8.18577 22.9648 7.98244 22.7757 7.83141C22.5867 7.68039 22.3573 7.58836 22.1163 7.56679L15.4085 6.95767L12.7561 0.74938C12.5605 0.294414 12.1151 0 11.6202 0C11.1253 0 10.6799 0.294459 10.4844 0.750514L7.83191 6.95771L1.12308 7.56679C0.88233 7.58884 0.653343 7.68107 0.464514 7.83204C0.275685 7.98301 0.135317 8.18608 0.060815 8.41607C-0.092202 8.8867 0.0491039 9.40285 0.422001 9.72823L5.49231 14.1748L3.99718 20.7608C3.88778 21.245 4.07571 21.7456 4.47752 22.036C4.69345 22.1921 4.94615 22.2715 5.20093 22.2715C5.42063 22.2715 5.63851 22.2123 5.83416 22.0953L11.6202 18.6371L17.4042 22.0953C17.8274 22.3499 18.3609 22.3266 18.7618 22.036C18.9581 21.894 19.1083 21.6974 19.1937 21.4706C19.2791 21.2439 19.296 20.997 19.2422 20.7608L17.7471 14.1748L22.8174 9.72913C22.9998 9.56983 23.1313 9.36046 23.1957 9.12702C23.2601 8.89357 23.2545 8.64635 23.1796 8.41607Z' fill=item)
              .reviews-tile__area
                .reviews-tile__box
                  .reviews-tile__text
                    p.
                      На обучение записались, чтобы подтянуть геометрию, алгебру, выйти на “пятерки” по геометрии. Своих целей достигли. Улучшились оценки, по геометрии вышли на “5”. 
                    p.
                      Темы на курсе разбираем раньше, чем в школе. Соответственно, ребёнок уже готов к изучению новой темы. На обучение записались, чтобы подтянуть геометрию, алгебру, выйти на “пятерки” по геометрии. Своих целей достигли. Улучшились оценки, по геометрии вышли на “5”. 
                      Темы на курсе разбираем раньше, чем в школе. Соответственно, ребёнок уже готов к изучению новой темы. Темы на курсе разбираем раньше, чем в школе. Соответственно, ребёнок уже готов к изучению новой темы. На обучение записались, чтобы подтянуть геометрию, алгебру, выйти на “пятерки” по геометрии. Своих целей достигли. Улучшились оценки, по геометрию, алгебру,..
                  button.reviews-tile__toggle Показать полностью
                if card === 1 || card === 2
                  .reviews-tile__video-area
                    .reviews-tile__video-box
                      .reviews-tile__video-inner
                        svg(width='56' height='56' viewbox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg')
                          circle(cx='28' cy='28' r='28' fill='white')
                          path(d='M37.5 25.4019C39.5 26.5566 39.5 29.4434 37.5 30.5981L25.5 37.5263C23.5 38.681 21 37.2376 21 34.9282L21 21.0718C21 18.7624 23.5 17.319 25.5 18.4737L37.5 25.4019Z' fill='#6683C2')
                        .reviews-tile__video-note Смотреть видео отзыв
                      img.reviews-tile__video-placeholder(src=staticImg('reviews-tile/video-placeholder.png') alt='')
                    video.reviews-tile__video(src=`${pathStatics}/files/Shevchenko_1_klass.mov` controls preload="metadata")
        button.reviews-tile__more.btn-blue Показать ещё
    .reviews-tile__scroll-top
      svg(viewbox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg')
        circle(cx='35' cy='35' r='35' fill='#6683C2' fill-opacity='0.24')
        path(d='M36.2374 27.7626C35.554 27.0791 34.446 27.0791 33.7626 27.7626L22.6256 38.8995C21.9422 39.5829 21.9422 40.691 22.6256 41.3744C23.309 42.0578 24.4171 42.0578 25.1005 41.3744L35 31.4749L44.8995 41.3744C45.5829 42.0578 46.691 42.0578 47.3744 41.3744C48.0578 40.691 48.0578 39.5829 47.3744 38.8995L36.2374 27.7626ZM35 31L36.75 31L36.75 29L35 29L33.25 29L33.25 31L35 31Z' fill='#6683C2')

