-
  const tgChannelList = [
    { text: 'Разборы заданий ВПР, ОГЭ и ЕГЭ', mod: '' },
    { text: 'Понятные объяснения каждой темы', mod: ''},
    { text: 'Задачки на смекалку и логику', mod: ''},
    { text: '1000+ коротких видео по алгебре, геометрии, статистике', mod: 'mob'},
    { text: 'Твёрдые знания, отличные оценки и&nbsp;любовь к математике ❤️', mod: ''},
  ]

.tg-channel
  .cont
    .tg-channel__wrap
      .tg-channel__area
        .tg-channel__info-mob!= 'Самый большой <br> образовательный канал в Рунете —&nbsp;более 830 000 подписчиков!'
        .tg-channel__caption Первый помощник школьников и родителей по математике:
        ul.tg-channel__list
          each item in tgChannelList
            li.tg-channel__item(class = item.mod ? `tg-channel__item_${item.mod}` : false)!= item.text
        .tg-channel__bottom
          a.tg-channel__button.btn-orange(href='#') Открыть канал
          .tg-channel__note Вся математика прямо в Телеграм!
      .tg-channel__sidebar
        .tg-channel__author
          img.tg-channel__image(src=staticImg('tg-channel/author.png') alt='')
          .tg-channel__name Телеграм-канал Математик Андрей
        .tg-channel__text 1000+ коротких видео по алгебре, геометрии, статистике
        .tg-channel__video-box
          video.tg-channel__video(src=`${pathStatics}/files/tg-channel.mp4` loop=true controls=false pip="false" muted playsinline autoplay)
