-
  const marathonOrderArea = [
    {
      headline: 'Для школьников',
      list: [
        '1 онлайн-урок с учителем',
        '5 уроков в записи для повторения важных тем по математике',
        '1 входное тестирование с проверкой',
        '1 итоговое тестирование с проверкой ',
        '6 домашних заданий с проверкой от тьютора',
      ]
    },
    {
      headline: 'Для родителей',
      list: [
        '4 урока от педагогов «Точки Знаний»',
        'Эфир с разборами Ваших ситуаций и ответами на вопросы от спикеров марафона',
        '<span>Бонус №1</span> Руководство «Как развивать внимательность ребёнка»',
        '<span>Бонус №2</span> Руководство «Как развивать таланты и способности ребёнка»',
      ]
    }
  ]

.marathon-order#marathon-order
  .container
    h2.marathon-order__title Присоединяйтесь к марафону
    .marathon-order__date
      | Даты проведения марафона:
      |
      span 28 октября - 2 ноября
    .marathon-order__wrap
      .marathon-order__top
        .marathon-order__name Осенний марафон для школьников и родителей
      .marathon-order__area
        each box in marathonOrderArea
          .marathon-order__box
            .marathon-order__headline= box.headline
            ul.marathon-order__list
              each item in box.list
                li.marathon-order__item!= item
      .marathon-order__bottom
        .marathon-order__class
          .marathon-order__class-note Выберите класс:
          select.marathon-order__select(data-role="custom-select" name="class_name" data-element='marathon-order__select')
            each item in [0,1,2,3,4,5,6,7,8]
              if item === 0
                option(value='' selected data-product-old-price= item === 2 ? false : 3700+item data-product-new-price=760+item data-product-link=`#${item}`)!= `Выберите класс`
              else
                option(value=item data-product-old-price= item === 2 ? false : 3700+item
                  data-product-new-price=760+item data-product-link=`#${item}`)!= `${item} класс`
        .marathon-order__price
          .marathon-order__price-old(data-element='marathon-order__price-old') 3700 рублей
          .marathon-order__price-new(data-element='marathon-order__price-new') 760 руб
        a.marathon-order__button.btn-warning(href='#' data-element='marathon-order__button') Иду на марафон!
