-
  const footerList1 = [
    'Начальная школа 1-4 класс', 'Средняя школа 5-8 класс', 'Старшая школа 9-11 класс', 'Курсы для учителей', 'Предзапись на учебный год 25/26 '
  ]
  const footerList1_summer = [
    'Дошкольники',
    'Начальная школа 1-4 класс',
    'Средняя школа 5-8 класс',
    'Старшая школа 9-11 класс',

    'Подготовка к ЕГЭ',
    'Подготовка к ОГЭ',

    'Семейное обучение',
    'IT-курсы',
    'Иностранные языки',
    'Развивающие курсы',
  ]
  const footerList2 = [
    'Политика обработки персональных данных',
    'Согласие на обработку персональных данных',
    'Согласие на получение информационной и рекламной рассылки',
    'Пользовательское соглашение',
    'Публичная Оферта',
    'Соглашение на семейное обучение',
    'Правила акции',
  ]
  const socialList = [
    { link: 'https://t.me/+WMCtnpy5ClRiZWQy', icon: 'https://tochka-school.ru/themes/school-point/assets/img/social-icon3.svg' },
    { link: 'https://vk.com/matematik_andrei', icon: 'https://tochka-school.ru/themes/school-point/assets/img/social-icon4.svg' },
    { link: 'http://www.youtube.com/@matematik_andrei', icon: 'https://tochka-school.ru/themes/school-point/assets/img/social-icon2.svg' },
    { link: 'https://www.tiktok.com/@matematik_andrei', icon: 'https://tochka-school.ru/themes/school-point/assets/img/social-icon1.svg' },
  ]

footer.footer.footer_new-year
  .footer__cont.cont
    .footer__area
      .footer__box
        .footer__logo
          img.footer__logo-image(src=staticImg('logo_new-year_white.svg') alt='')
        p.footer__text
          | ООО «Точка Знаний»
          br
          | ИНН 2311347344
          br
          | ОГРН 232300017817
        p.footer__text
          | ОКВЭД 58.29
          br
          | IT коды: 1.01 и 16.01
        p.footer__text
          | 350051, Краснодарский край,
          br
          | г. Краснодар, ул. Монтажников, д. 5
        p.footer__text
          a(href="https://reestr.digital.gov.ru/reestr/3098277/" target="_blank")!= 'В реестре российского <br> ПО №26700 от 28.02.2025'
        p.footer__text
          | Точка Знаний - образовательная
          br
          | платформа, разработанная
          br
          | ООО «Точка Знаний»
        a.footer__about(href='#') Подробнее о платформе
      .footer__box
        .footer__title(data-element="footer__title") Направления
        .footer__list
          each item, index in footerList1_summer
            if index === 4 || index === 6
              .footer__space
              a.footer__link(href='#')= item
            else
              a.footer__link(href='#')= item
      .footer__box
        .footer__title(data-element="footer__title") Документация
        .footer__list
          each item in footerList2
            a.footer__link(href='#')= item
      a.footer__blog.footer__blog_mob.btn-border(href='#') Блог
      .footer__contacts
        .footer__title Контакты
        .footer__contacts-box
          a.footer__phone(href='tel:+78612176477') 8 (861) 217-64-77
        .footer__contacts-box
          a.footer__whatsapp.btn-border.btn-border_arrow(href='https://api.whatsapp.com/send/?phone=79182293194&text&type=phone_number&app_absent=0') Написать в WhatsApp
          a.footer__email(href='mailto:support@tochka-school.ru') support@tochka-school.ru
        .footer__social
          .footer__headline Социальные сети:
          .footer__social-list
            each item in socialList
              a.footer__social-link(href=item.link target='_blank')
                img.footer__social-icon(src=item.icon alt='')
        a.footer__blog.btn-border(href='#') Блог
    .footer__bottom
      a.footer__organization(href='https://tochka-school.ru/info' target='_blank') Сведения об образовательной организации
      .footer__license
        | Дата предоставления лицензии:
        br.mob
        | 11 мая 2023
        br
        a(href='https://tochka-school.ru/storage/app/media/reestrovaia_vypiska/reestrovaia-vypiska.pdf' target='_blank') Лицензия № Л035-01218-23/00650937
      .footer__app
        .footer__app-text Скачивайте наше приложение:
        .footer__app-links
          a.footer__app-ru-store(href="https://www.rustore.ru/catalog/app/ru.tochkaschool.lk.droid" target="_blank")
          a.footer__app-app-store(href="https://apps.apple.com/kz/app/%D1%82%D0%BE%D1%87%D0%BA%D0%B0-%D0%B7%D0%BD%D0%B0%D0%BD%D0%B8%D0%B9/id6503298203" target="_blank")
      a.footer__resident(href='https://sk.ru/' target='_blank')
        img.footer__resident-image(src='https://tochka-school.ru/themes/school-point/assets/img/sk-logo.svg' alt='')
